#b-pages {
	.boom-tree-container {
		background: #7f7f7f;
	}

	> ul {
		width: 100%;
		height: 100%;
	}
	
	ul {
		max-height: none;

		li {
			background: #7f7f7f;

			a:hover {
				background: #222;
			}
		}
	}

	.template {
		float: right;
		margin-right: 1em;
	}

	.url {
		margin-left: 2em;
		font-style: italic;
	}
}