.ui-autocomplete {
	background: @light-grey;
	color: @darkest-grey;
	padding-left: 0;
	z-index: 1000;
	
	li {
		list-style-type: none;
		padding: 0.5rem;
		
		&:hover, &:focus {
			color: @red;
			cursor: pointer;
		}
	}
}