[submodule "vendor/htmlpurifier"]
	path = vendor/htmlpurifier
	url = git://repo.or.cz/htmlpurifier.git
[submodule "vendor/text-statistics"]
	path = vendor/text-statistics
	url = https://github.com/DaveChild/Text-Statistics.git
[submodule "vendor/embera"]
	path = vendor/embera
	url = https://github.com/mpratt/Embera.git
[submodule "vedor/openid"]
	path = vedor/openid
	url = git://gitorious.org/lightopenid/lightopenid.git
[submodule "vendor/genphrase"]
	path = vendor/genphrase
	url = https://github.com/timoh6/GenPhrase.git
