html.boom {
	font-size: 62.5%;
	font-family: Helvetica, Arial, sans-serif;
	
	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		zoom: 1;
		margin: 0;
		color: @dark-grey;
		background: transparent;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.6rem;
		line-height: 1.4em;
	}

	p {
		margin-bottom: 1em;
	}

	a {
		color: @darkest-grey;
		text-decoration: none;

		&:hover, &:focus {
			color: @red;
		}
	}

	h1, h2, h3 {
		margin-bottom: .5em;
	}

	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 2.0rem;
	}

	h3 {
		font-size: 1.8rem;
	}
}