html.boom {
	font-size: 62.5%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	
	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		.text-normal;
		zoom: 1;
		margin: 0;
		color: @dark-grey;
		background: transparent;
	}

	p {
		margin-bottom: 1em;
	}

	a {
		color: @darkest-grey;
		text-decoration: none;

		&:hover, &:focus {
			color: @red;
		}
	}
	
	h1 {
		.text-large;
		margin-top: 0;
		border-bottom: 1px solid @red;
		padding-bottom: 1.5rem;
		margin-bottom: 3rem;
		width: 75%;
		max-width: 700px;

		a {
			text-decoration: underline;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	h2, h3 {
		margin-top: 0;
		margin-bottom: .5em;
	}

	h2 {
		font-size: 2.0rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	p {
		margin-top: 0;
	}

	.pace {
		.pace-progress {
			background: @red;
			height: 5px;
		}

		.pace-activity {
			border-top-color: @red;
			border-left-color: @red;
		}
	}

	dl {
		overflow: hidden;
		margin-top: -1rem;

		dt, dd {
			display: inline-block;
			margin: 0;
			float: left;
			margin-top: 1rem;
		}

		dt {
			font-weight: bold;
			width: 20rem;
		}

		dd {
			width: calc(~"100% - 20rem");
		}
	}
}