@lightest-grey : #f5f5f5;
@light-grey : #666;
@grey: #7f7f7f;
@dark-grey : #444;
@darkest-grey : #222;

@white : #fff;

@pink: rgb(214,39,142);
@red : #bf1e2e;

@green : #468017;
@light-green: rgb(117,214,39);
@dark-green: rgb(70,128,23);

@button-bg: rgb(66,75,85);
@toolbar: rgb(127,127,127);

@dialogbg: @light-grey;