#b-group-roles-general, #b-group-roles-pages, #b-pagesettings-urls{
		input[type=radio], input[type=checkbox] {
			position: absolute;
			left: -9999px;
		}
		label {
			display: inline;
			clear: none;
			float: none;
		}
		input:checked + label {
			background-color: #333;
			color: #ccc;
		}
}