#b-slideshow-editor {
	overflow: visible;
	padding: 1em 0;

	p, li {
		.text-default;
	}

	p {
		margin-bottom: 0;
	}

	ul {
		margin: 0;
	}

	.container {
		overflow: hidden;
		width: 100%;

		section {
			float: left;
			width: 50%;
			.box-sizing;
			padding: 0 1em;

			h1 {
				margin-top: 0;
				.text-large;
			}
		}
	}

	&-slides {
		list-style-type: none;
		overflow: hidden;
		padding-left: 0;

		li {
			float: left;
			height: 6em;
			overflow: hidden;

			&:first-of-type {
				margin-left: 0;
			}

			label {
				height: 100%;
				width: auto;
				position: relative;

				input[type=radio] {
					position: absolute;
					top: -100%;

					&:checked + img {
						border: 1px solid red;
					}
				}

				img {
					height: 100%;
					width: auto;
					padding: 0.5em;
					border: 1px solid transparent;
					.box-sizing;
				}
			}
		}
	}

	&-add {
		margin-left: 2em;
	}

	&-buttons {
		position: absolute;
		bottom: -4em;
	}
}