#b-page-add {
	&-prompt {
		p {
			margin-bottom: 2rem;
		}

		.buttons {
			width: 100%;
			margin: 2rem -1rem 0 -1rem;
			overflow: hidden;
			position: relative;
		}

		button {
			display: inline-block;
			border: 1px solid @red;
			-webkit-appearance: none;
			border-radius: 0;
			width: calc(~"33.33% - 2rem");
			margin: 0 1rem;
			background: @white;
			height: 7.5rem;
			float: left;

			&:hover, &:focus {
				background: @red;
				color: @white;
			}
		}
	}
}