#b-page-settings-children-reorder {
	margin: 0.5em 0 0 0;
	background-color: @white;
}

#b-page-settings-children-sort li {
	padding: 3px;
	list-style-type: none;

	.title:before {
		font-size: 0.8em;
		margin-right: 0.5em;
	}

	&:hover {
		cursor: hand;
		cursor: pointer;
	}
}