#b-page-delete-options {
	dl {
		overflow: hidden;

		dd, dt {
			display: inline-block;
		}

		dd {
			width: 80%;
			float: right;
			margin: 0;
		}

		dt {
			width: 20%;
			font-weight: bold;
			float: left;
			margin: 0;
		}
	}

	#b-page-delete-children {
		overflow: auto;
		max-height: 200px;
		margin-bottom: 1em;

		ul {
			margin-bottom: 0;
		}
	}

	#b-page-delete-confirm {
		background: @red;
		color: @white;

		&:hover, &:focus {
			color: @black;
		}
	}
}