#b-page-draft-status {
    .b-button.b-button-withtext {
        display: block;
        text-align: left;
        min-width: 30rem;
        border: 0;

        .b-button-icon {
            left: 0;
        }

        .b-button-text {
            margin-left: 5rem;
        }

        + .b-button-withtext {
            margin-left: 0;
        }

        &:hover, &:focus {
            background: transparent;
        }
    }

    .b-page-publish {
        font-weight: bold;
    }
}
