#b-page-feature {
	overflow: hidden;

	> section {
		&:first-of-type {
			position: relative;

			img {
				max-width: 100%;
				display: block;
			}
 		}
	}

	&-none {
		display: none;
	}

	ul {
		overflow: auto;
		margin: 0 -5px;
		padding: 0;

		li {
			list-style-type: none;
			float: left;
			margin: 5px;

			a {
				padding: 5px;
				display: block;
				border: 1px solid transparent;

				&:hover, &:focus {
					border-color: @darkest-grey;
				}

				img {
					height: 100px;
					width: auto;
				}
			}
		}
	}
}