#b-page-history {
	a {
		color: @blue;

		&:hover, &:focus {
            text-decoration: none;

			time {
				text-decoration: underline;
			}
		}
	}

	ol {
		padding: 0;

		li {
			list-style-type: none;
			max-width: 70rem;

            &.reverted {
                opacity: 0.3;

                &:hover, &:focus {
                    opacity: 1;
                }
            }

			+ li {
				margin-top: 2rem;
			}

            a[data-restore] {
                color: @black;
                text-align: center;
                position: relative;
                overflow: hidden;

                &:hover, &:focus {
                    .fa {
                        color: @red;
                    }
                }

                span {
                    display: block;

                    &:nth-of-type(2) {
                        position: absolute;
                        top: -1000%;
                    }
                }

                .fa {
                    font-size: 2rem;
                    color: @blue;
                }
            }

			.summary {
				float: left;
				text-align: center;

				p {
					.text-small;
				}

				span {
					display: inline-block;
					position: relative;
				}

				.fa {
					font-size: 4rem;
					color: @blue;
				}
			}

			&[data-status="published"]:not(:first-child) {
				margin-top: 2rem;
				border-top: 1px solid @red;
				padding-top: 2rem;
			}

			&.visibility {
				border-top: 1px solid @blue;
				border-bottom: 1px solid @blue;
				padding: 2rem 0;
				margin: 2rem 0;

				+ li[data-status="published"] {
					border-top: 0;
					margin-top: 1rem;
					padding-top: 0;
				}
			}

			.main p {
				margin: 0.5rem 0 0 0;
			}
		}
	}
}

@media all and (min-width: 500px) {
	#b-page-history {
		ol li {
			overflow: hidden;

            &.visibility .main {
                width: calc(~"100% - 15rem");
            }

			.summary {
				float: left;
				width: 8rem;
			}

            [data-restore] {
                display: inline-block;
                float: right;
				width: 6rem;
                margin-left: 4rem;
            }

			.main {
				overflow: hidden;
				width: calc(~"100% - 25rem");
				float: right;

				> div {
					overflow: hidden;

					a {
						float: left;
					}

					.status {
						float: right;
					}
				}
			}
		}
	}
}