#b-page-relations {
	padding-left: 0;

	li {
		list-style-type: none;
		position: relative;

		+ li {
			margin-top: 1.5rem;
		}

		.title {
			font-weight: bold;
		}

		.title, .uri {
			display: block;
			margin-left: 3rem;
		}

		a {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			color: @darkest-grey;
			text-decoration: none;
			float: left;
			line-height: 21px;

			span {
				position: absolute;
				top: -1000%;
			}

			&:hover, &:focus {
				color: @red;
			}
		}
	}
}