.b-page-settings {
	background: @white;
	color: @darkest-grey;
	width: 100%;
	height: 100%;

	.b-page-settings-menu {
		background: @lightest-grey;
		display: inline-block;
		width: 35rem;
		height: calc(~"100% + 3rem");
		float: left;
		padding: 6.5rem 0;
		margin: -1.5rem 0;
		overflow-y: auto;
		position: relative;

		ul {
			padding: 0;
			margin: 0;
		}

		.toggle {
			display: none;
		}

		.group {
			border-top: 3px solid @white;
			border-bottom: 3px solid @white;
			margin: 0.75rem 0;
			padding: 0.75rem 0;
		}

		li {
			display: block;
			list-style-type: none;
			position: relative;

			&.b-page-settings-close {
				margin-top: 2em;
			}

			&.selected a {
				background: @white;
			}

			a {
				display: block;
				color: @darkest-grey;
				text-decoration: none;
				padding: 1.5rem 5rem;

				span {
					display: inline-block;
					width: 30px;
					text-align: center;
					margin-right: 2rem;
				}

				&:hover, &:focus {
					color: @red;
				}

				&[data-b-page-setting="delete"] {
					background: @red;
					color: @white;

					&:hover, &:focus {
						span {
							color: @black;
						}
					}
				}
			}
		}
	}

	.b-page-settings-content {
		display: inline-block;
		width: 100%;
		max-width: calc(~"100% - 35rem");
		float: left;
		max-height: 100%;
		overflow-y: auto;
		padding: 5rem;

		h1, h2, p {
			max-width: 700px;
		}

		h2 {
			font-weight: bold;

			+ p {
				margin-top: 0;
			}
		}

		section + section {
			margin-top: 1.5em;
		}

		input[type=text], select, textarea {
			width: 25em;
			float: none;
			margin-left: 0;
			max-width: 100%;
			display: block;

			+ input[type=text], + select, + textarea {
				margin-top: 0.5em;
			}
		}

		textarea {
			width: 40em;
		}

		a {
			color: @red;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		#visible-to {
			display: inline-block;
		}

		.b-button {
			margin-top: 1.5em;
			color: @darkest-grey;

			&[disabled] {
				&:hover, &:focus {
					color: @darkest-grey;
				}
			}

			&.b-button-withtext, &.b-button-textonly {
				border: 1px solid @light-grey;
				min-width: 15rem;

				&:hover, &:focus {
					background: @light-grey;
				}

				@media all and (min-width: 850px) {
					+ .b-button-withtext {
						margin-left: 1.5rem;
					}
				}
			}
		}

		.b-visibility-toggle {
			display: none;
		}

		.boom-tree {
			max-height: 400px;
		}
	}
}

#b-page-settings-toolbar {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	max-width: 0;
	width: 100vw;
	padding-left: 60px;
	transition: all 1s;
	overflow: hidden;

	&.open {
		max-width: 5000px;
		transition: all 1s;
	}
}

@media all and (max-width: 900px) {
	.b-page-settings {
		.b-page-settings-menu li a, .b-page-settings-content {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.b-page-settings-menu {
			width: 30rem;
			padding: 2rem 0;
		}

		.b-page-settings-content {
			max-width: calc(~"100% - 30rem");
			padding: 2rem;
		}
	}
}

@media all and (max-width: 768px) {
	.b-page-settings {
		.b-page-settings-menu {
			max-width: 10rem;
			transition: max-width 0.5s;

			ul a {
				padding: 0.75rem 2rem;
			}

			&.open {
				max-width: calc(~"100vw - 6rem");
				transition: max-width 0.5s;

				+ .b-page-settings-content {
					max-width: calc(~"100% - 30rem");
					transition: max-width 0.5s;
				}

				.toggle {
					.fa-caret-left {
						display: block;
					}

					.fa-caret-right {
						display: none;
					}
				}
			}

			.toggle {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				overflow: hidden;
				width: 3rem;
				font-size: 3rem;
				background: @lightest-grey;
				text-align: center;

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}

				.text {
					position: absolute;
					top: -1000%;
				}

				.fa-caret-left {
					display: none;
				}

				.fa-caret-right {
					display: block;
				}
			}

			ul {
				overflow-x: hidden;

				a {
					width: 30rem;
				}
			}
		}

		.b-page-settings-content {
			max-width: calc(~"100% - 10rem");
			transition: max-width 0.5s;
		}
	}
}