.b-page-settings {
	background: @white;
	color: @darkest-grey;
	width: 100%;
	height: 100%;

	.b-page-settings-menu {
		background: @lightest-grey;
		display: inline-block;
		width: 35rem;
		height: 100%;
		float: left;
		padding: 6.5rem 0;
		margin: -1.5rem 0;

		.group {
			border-top: 3px solid @white;
			border-bottom: 3px solid @white;
			margin: 0.75rem 0;
			padding: 0.75rem 0;
		}

		li {
			display: block;
			list-style-type: none;
			position: relative;

			&.b-page-settings-close {
				margin-top: 2em;
			}

			&.selected a {
				background: @white;
			}

			a {
				display: block;
				color: @darkest-grey;
				text-decoration: none;
				padding: 1.5rem 5rem;

				&:hover, &:focus {
					color: @red;
				}
			}
		}
	}

	.b-page-settings-content {
		display: inline-block;
		width: calc(~"100% - 35rem");
		float: left;
		max-height: 100%;
		overflow: auto;
		padding: 5rem;

		h1, h2, p {
			max-width: 700px;
		}

		h1 {
			.text-large;
			margin-top: 0;
			border-bottom: 1px solid @red;
			padding-bottom: 1.5rem;
			margin-bottom: 3rem;
		}

		h2 {
			font-weight: bold;

			+ p {
				margin-top: 0;
			}
		}

		section + section {
			margin-top: 1.5em;
		}

		input[type=text], select, textarea {
			width: 25em;
			float: none;
			margin-left: 0;
			max-width: 100%;
			display: block;

			+ input[type=text], + select, + textarea {
				margin-top: 0.5em;
			}
		}

		textarea {
			width: 40em;
		}

		#visible-to {
			display: inline-block;
		}

		.b-button {
			margin-top: 1.5em;
			color: @darkest-grey;

			&[disabled] {
				&:hover, &:focus {
					color: @darkest-grey;
				}
			}
		}

		.b-visibility-toggle {
			display: none;
		}

		.boom-tree {
			max-height: 400px;
		}
	}
}

#b-page-settings-toolbar {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 60px;
	max-width: 0;
	width: 100%;
	transition: all 1s;
	overflow: hidden;

	&.open {
		max-width: 5000px;
		transition: all 1s;
	}
}