#b-page-settings-toolbar {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	max-width: 0;
	width: 100vw;
	padding-left: 60px;
	transition: all 1s;
	overflow: hidden;

	&.open {
		max-width: 5000px;
		transition: all 1s;
	}
}
