#b-page-tags {
	padding-left: 0;

	form {
		overflow: hidden;
		position: relative;
		width: 20rem;
		height: 3.9rem;

		input[type=text] {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0.75rem 5rem 0.75rem 0.75rem;
			height: auto;
			width: 100%;
			max-width: 100%;

			&:focus {
				+ button {
					display: block;
				}
			}
		}

		button {
			position: absolute;
			right: 0.75rem;
			bottom: 0;
			top: 0;
			display: none;
			font-size: 1rem;
			width: auto;
			height: auto;
			margin: 0;
		}
	}

	ul {
		padding: 0;
		overflow: hidden;
		list-style-type: none;
	}

	> ul {
		> li {
			overflow: hidden;
			
			+ li {
				margin-top: 5rem;
			}
		}

		form {
			display: inline-block;
			float: left;
		}
	}

	.b-tags-newgroup {
		width: calc(~"100% + 10rem");
		padding: 10rem 5rem;
		background: @lightest-grey;
		margin: 5rem -5rem -5rem -5rem;
		border-left: 3px solid @white;

		h2 {
			margin-bottom: 2rem;
		}

		form {
			width: 40rem;
			max-width: 100%;
		}
	}
}