#b-page-urls {
	h1 {
		.text-large;
	}

	p, li {
		.text-default;

		&.short-url {
			margin-top: 2em;
			font-weight: bold;
		}
	}

	> section {
		.box-sizing;
		display: inline-block;
		vertical-align: top;

		&:first-of-type {
			border-right: 1px solid @darkest-grey;
			margin-right: 1em;
			padding-right: 1em;
			width: 420px;
		}
	}

	.b-page-urls-short {
		width: 315px;
	}

	&-list {
		padding-left: 0;
		width: 100%;
		list-style-type: none;
		max-height: 300px;
		overflow: auto;
		margin-top: 2em;

		li {
			background-color: transparent;
			border-bottom: 1px solid @darkest-grey;
			overflow: hidden;
			line-height: initial;
			color: @darkest-grey;

			&.b-page-urls-primary {
				background-color: @light-grey;

				.b-page-urls-primary-indicator {
					display: inline;
				}

				label {
					width: 308px;
				}

				.b-urls-remove {
					display: none;
				}
			}

			label {
				.box-sizing;
				width: 336px;
				cursor: pointer;
				padding: 0.7em;
				margin-top: 0;
				display: inline;
				float: left;
			}

			.b-page-urls-primary-indicator {
				display: none;
				text-transform: uppercase;
				float: right;
				margin-top: 10px;
				color: @light-grey;
				padding-right: 5px;
			}

			.b-urls-remove {
				.box-sizing;
				float :right;
				width: 25px;
				height: 25px;
				margin: 3px 0.7em 0;
				cursor: pointer;
				display: inline;
				line-height: 35px;

				&:hover, &:focus {
					color: @red;
				}
			}
		}
	}

	&-add {
		margin-right: 600px;
	}
}