#b-page-urls {
	&-list {
		padding-left: 0;
		width: 100%;
		list-style-type: none;
		margin-top: 2em;
		border-top: 1px solid @lightest-grey;
		border-bottom: 1px solid @lightest-grey;

		li {
			overflow: hidden;
			line-height: initial;
			color: @darkest-grey;

			&:nth-of-type(odd) {
				background: @white;
			}

			&:nth-of-type(even) {
				background: @lightest-grey;
			}

			&.b-page-urls-primary {
				color: @red;

				.b-page-urls-primary-indicator {
					display: inline;
				}

				.b-urls-remove {
					display: none;
				}
			}

			input {
				position: absolute;
				top: -1000%;
			}

			label {
				cursor: pointer;
				padding: 0.7em;
				margin: 0;
				display: inline;
				float: right;
				width: calc(~"100% - 10rem");
			}

			.b-page-urls-primary-indicator, .b-urls-remove {
				text-align: center;
				width: 10rem;
				line-height: 40px;
				float: left;
			}

			.b-page-urls-primary-indicator {
				display: none;
				text-transform: uppercase;
				color: @light-grey;
			}

			.b-urls-remove {
				cursor: pointer;
				display: inline;

				&:hover, &:focus {
					color: @red;
				}
			}
		}
	}

	&-move {
		table {
			margin: -0.75rem -1.5rem;

			th, td {
				padding: 0.75rem 1.5rem;
			}
		}
	}

	.b-urls-add {
		margin-top: 0;
	}
}

#b-form-addurl {
	margin-top: 2rem;
	width: 100%;
	padding-bottom: 3rem;

	label {
		position: relative;
		overflow: hidden;
		width: 100%;

		span {
			position: absolute;
			top: -1000%;
		}

		input {
			padding: 0.5rem 1rem;
			width: 100%;
			height: auto;
			line-height: 2em;
		}
	}
}