#b-page-urls {
	p, li {
		.text-default;

		&.short-url {
			margin-top: 2em;
			font-weight: bold;
		}
	}

	&-list {
		padding-left: 0;
		width: 100%;
		list-style-type: none;
		margin-top: 2em;

		li {
			overflow: hidden;
			line-height: initial;
			color: @darkest-grey;

			&:nth-of-type(odd) {
				background: @white;
			}

			&:nth-of-type(even) {
				background: @lightest-grey;
			}

			&.b-page-urls-primary {
				color: @red;

				.b-page-urls-primary-indicator {
					display: inline;
				}

				.b-urls-remove {
					display: none;
				}
			}

			label {
				.box-sizing;
				cursor: pointer;
				padding: 0.7em;
				margin-top: 0;
				display: inline;
				float: left;
				min-width: 30em;
			}

			.b-page-urls-primary-indicator {
				display: none;
				text-transform: uppercase;
				float: right;
				margin-top: 10px;
				color: @light-grey;
				padding-right: 5px;
			}

			.b-urls-remove {
				.box-sizing;
				float :right;
				width: 25px;
				height: 25px;
				margin: 3px 0.7em 0;
				cursor: pointer;
				display: inline;
				line-height: 35px;

				&:hover, &:focus {
					color: @red;
				}
			}
		}
	}

	.b-urls-add {
		margin-top: 0;
	}
}