#b-assets-manager {
	background: #7f7f7f;

	select {
		margin-left: 20px;
	}

	#b-tags-search {
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;
		max-width: 300px;

		ul {
			float: left;
			width: 100%;
		}

		span.ui-icon-boom-tag {
			display: inline-block;
			vertical-align: top;
			margin-top: 15px;
			background-position: -90px -120px;
		}

		.b-tags-remove {
			background-position: -60px -120px;
		}

		.b-filter-input {
			margin-left: 0;
		}

		.b-tags-list {
			margin: 0;

			li {
				margin: 0 5px;
				display: inline-block;

				a {
					display: inline-block !important;
				}

				span {
					margin-left: 0;
				}
			}
		}
	}
}