#b-assets-manager {
	background: #7f7f7f;

	select {
		margin-left: 20px;
	}

	#b-menu-button {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
	}

	#b-menu {
		z-index: 4;
	}

	#b-topbar {
		.box-sizing;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		padding-left: 40px;
	}

	#b-assets-filters {
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
		z-index: 2;
		height: 60px;
	}

	#b-assets-content {
		margin-top: 120px;
	}

	#b-tags-search {
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;
		max-width: 300px;

		ul {
			float: left;
			width: 100%;
		}

		.b-tags-remove {
			background-position: -60px -120px;
		}

		.b-filter-input {
			margin-left: 0;
		}

		.b-tags-list {
			margin: 0;
			padding-left: 0;

			li {
				margin: 0 5px 0 0;
				display: inline-block;

				a {
					display: inline-block !important;
				}

				span {
					margin-left: 0;
				}
			}
		}
	}
}