#b-assets-pagination {
	position: relative;

	input, a {
		.box-sizing;
		height: 2em;
		margin: 0;
	}

	.next {
		position: absolute;
		right: 20px;
	}

	.last {
		position: absolute;
		right: 0;
	}

	input {
		.b-input;
		.box-sizing;
		padding: 0 40px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
}