#b-assets-pagination {
	position: relative;

	input, a {
		.box-sizing;
		height: 2em;
		margin: 0;
	}

	.first {
		left: 0;
	}

	.previous {
		left: 20px;
	}

	.next {
		right: 20px;
	}

	.last {
		right: 0;
	}

	a {
		position: absolute;
		z-index: 2;
	}

	input {
		.b-input;
		.box-sizing;
		padding: 0 40px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1;
	}
}