.b-assets-album-list {
    margin: -1rem;
    padding: 0;
    overflow: hidden;

    li {
        padding: 1rem;
        display: inline-block;
        list-style-type: none;
        width: 100%;

        a {
            height: 20rem;
            width: 100%;
            position: relative;
            display: block;
            padding: 2rem;
            background: @dark-grey;
            color: @lightest-grey;

            &:hover, &:focus {
                h3 {
                    color: @red;
                }
            }

            .count {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                margin: 0;

                span {
                    .text-large;
                }
            }
        }
    }
}

@media all and (min-width: 500px) {
    .b-assets-album-list {
        li {
            float: left;
            width: 50%;
        }
    }
}

@media all and (min-width: 600px) {
    .b-assets-album-list {
        li {
            float: left;
            width: 100/3%;
        }
    }
}

@media all and (min-width: 768px) {
    .b-assets-album-list {
        li {
            width: 25%;
        }
    }
}

@media all and (min-width: 1024px) {
    .b-assets-album-list {
        li {
            width: 20%;
        }
    }
}

