#b-assets-all-albums {
    ul {
        margin: -0.75rem;
        padding: 0;
        overflow: hidden;

        li {
            padding: 0.75rem;
            display: inline-block;
            list-style-type: none;
            width: 100%;

            a {
                height: 20rem;
                width: 100%;
                position: relative;
                display: block;
                padding: 2rem;
                background: @dark-grey;
                color: @lightest-grey;

                &:hover, &:focus {
                    h3 {
                        color: @red;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 500px) {
    #b-assets-all-albums {
        ul li {
            float: left;
            width: 50%;
        }
    }
}

@media all and (min-width: 600px) {
    #b-assets-all-albums {
        ul li {
            float: left;
            width: 100/3%;
        }
    }
}

@media all and (min-width: 768px) {
    #b-assets-all-albums {
        ul li {
            width: 25%;
        }
    }
}

@media all and (min-width: 1024px) {
    #b-assets-all-albums {
        ul li {
            width: 20%;
        }
    }
}

