#b-assets-chunk-editor {
	overflow: hidden;

	section {
		display: inline-block;
		width: 50%;
		float: left;
		padding: 1em;
		max-width: 500px;

		h1 {
			margin-top: 0;
			.text-large;
		}

		p {
			margin-top: 0;
		}

		img {
			max-width: 100%;
			max-height: 50vh;
		}

		a {
			&:hover, &:focus {
				img {
					opacity: 0.8;
				}
			}
		}

		label {
			width: 100%;
			overflow: hidden;
			margin-bottom: 1em;

			> span {
				width: 5rem;
				display: inline-block;
				float: left;
			}

			input, textarea {
				display: inline-block;
				float: right;
				min-width: 20em;
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			textarea {
				height: 10em;
			}
		}

		.b-link {
			input {
				float: left;
				min-width: 18em;
				width: 18em;
			}

			button {
				float: right;
				margin-top: 0;
			}
		}
	}
}