#b-assets-manager {
	background: @lightest-grey;

	#b-topbar {
		.box-sizing;
		position: fixed;
		z-index: 2;
	}

	#b-assets-filters {
		position: fixed;
		top: -10px;
		left: 0;
		right: 0;
		z-index: 2;
		height: auto;
		min-height: 60px;
		background: @lightest-grey;
		padding: 5px 0 5px 3px;

		> * {
			vertical-align: top;
		}

		> input, select {
			width: 15%;
			margin: 15px 0 0 2%;
		}

		> input {
			/*.b-input;*/
		}
	}

	#b-assets-content {
		.box-sizing;
		padding-top: 135px;
		min-height: 100vh;
	}

	#b-tags-search {
		display: inline-block;
		margin: 15px 0 0 2%;
		vertical-align: top;
		width: 15%;

		ul {
			float: left;
			width: 100%;
		}

		.b-filter-input {
			width: 100%;
		}

		.b-tag {
			border-color: @dark-grey;
		}

		.b-tags-list {
			margin: auto -0.25em;
			padding-left: 0;
		}
	}

	#b-assets-pagination {
		.text-default;
		width: 14%;
		margin: 15px 0 0 2%;
	}

	#b-assets-upload-form {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100001;
		background: @lightest-grey;
		display: none;

		#b-assets-upload-container {
			.box-sizing;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		#b-assets-upload-close {
			position: absolute;
			right: 2em;
			bottom: 2em;
			background: @darkest-grey;

			&:hover, &:focus {
				background: @grey;
			}
		}
	}
}

html.boom body.pushy-active .b-toolbar + #b-assets-filters {
	margin-top: 70px;
}
