#b-assets-manager {
	background: @lightest-grey;

    &[data-view=upload] {
        #b-assets-tabs .b-assets-upload {
            display: block;
        }
    }

    &[data-view=''] {
        #b-assets-all-albums-container {
            display: block;
        }
    }

    &[data-view=search] {
        #b-assets-filters {
            display: block;
        }
    }

    &[data-view=viewAlbum] {
        #b-assets-view-album-container, #b-assets-view-thumbs {
            display: inline-block;
        }

        #b-assets-view-album-container {
            width: 25rem;
            float: left;
        }

        #b-assets-view-thumbs {
            width: calc(~"100% - 25rem");
            float: right;
            padding-top: 1.25rem;
        }
    }

    &[data-view=viewAlbum], &[data-view=viewAsset], &[data-view=viewSelection] {
        #b-assets-content {
            display: block;
        }
    }

    &[data-view=viewAsset], &[data-view=viewSelection] {
        #b-assets-filmroll {
            visibility: visible;
        }
    }

    &[data-view=search], &[data-view=viewAlbum] {
        #b-topbar {
            #selection-controls, #b-assets-pagination {
                display: inline-block;
            }
        }
    }

	#b-topbar {
		position: fixed;
		z-index: 3;

        div {
            display: inline-block;
            vertical-align: top;
        }

		a {
			text-decoration: underline;

			&:hover, &:focus {
				color: @red;
				text-decoration: none;
			}
		}
		
		#b-assets-select-all {
			margin-left: 1.5rem;
		}

        #selection-controls {
            display: none;
        }

        #tab-controls {
            height: 60px;
            overflow: hidden;

            button {
                height: 60px;
                line-height: 60px;
                width: 70px;
                margin-top: 0;

                &.active {
                    background: @lightest-grey;
                    color: @darkest-grey;
                }
            }
        }

        #b-assets-pagination {
            margin-top: 1.75rem;
            width: 20rem;
            vertical-align: top;
            float: right;
            display: none;
        }
	}

    #b-assets-filmroll {
        visibility: hidden;
    }

	#b-assets-filters {
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
		width: 60rem;
        max-width: 100%;

		@media all and (max-width: 500px) {
			width: 100%;
			min-width: 0;
			padding: 1.5rem;
		}

		#b-assets-filter-title {
			width: 100%;
		}

		> * {
			vertical-align: top;
		}

		h2 {
			margin-top: 2.5rem;
		}
	}

	#b-assets-content {
		min-height: 100vh;
		overflow: hidden;

		img {
			border: none;
		}
	}

	.b-assets-upload-form {
		height: calc(~"100vh - 6rem");
		background: @lightest-grey;

		.b-assets-upload-container {
			width: 100%;
			height: 100%;
			margin: 0;
            border: 0;
		}
	}

    #b-assets-tabs {
        height: calc(~"100vh - 60px");

        > * {
            display: none;
        }
    }
}
