#b-assets-manager {
	background: @lightest-grey;

    &[data-view=upload] {
        #b-assets-upload {
            display: block;
        }
    }

    &[data-view=''] {
        #b-assets-all-albums-container {
            display: block;
        }
    }

    &[data-view=search] {
        #b-assets-search {
            display: block;
        }
    }

    &[data-view=searchResults] {
        #b-topbar #b-assets-pagination {
            display: inline-block;
        }

        #b-assets-search-results, #b-assets-view-thumbs {
            display: block;
        }
    }

    &[data-view=viewAsset] {
        background: @white;

        #b-assets-content {
            padding: 0;
        }

        #b-assets-view-asset-container {
            display: block;
        }
    }

    &[data-view=viewAlbum] {
        #b-assets-view-album-container {
            display: block;
        }
    }

    &[data-view=viewAsset], &[data-view=viewSelection] {
        #b-assets-filmroll {
            visibility: visible;
        }
    }

    &[data-view=searchResults], &[data-view=viewAlbum] {
        #b-topbar {
            #selection-controls {
                display: inline-block;
            }
        }
    }

	#b-topbar {
		position: fixed;
		z-index: 3;

        div {
            display: inline-block;
            vertical-align: top;
        }

		a {
			text-decoration: underline;

			&:hover, &:focus {
				color: @red;
				text-decoration: none;
			}
		}
		
		#b-assets-select-all {
			margin-left: 1.5rem;
		}

        #selection-controls {
            display: none;
        }

        #tab-controls {
            height: 60px;
            overflow: hidden;

            button {
                height: 60px;
                line-height: 60px;
                width: 70px;
                margin-top: 0;
                float: left;

                &:hover, &:focus {
                    transition: all 0.25s ease-in-out;
                }

                &:hover, &:focus, &.active {
                    background: @lightest-grey;
                    color: @darkest-grey;
                }
            }
        }

        #b-assets-pagination {
            margin-top: 1.75rem;
            width: 20rem;
            vertical-align: top;
            float: right;
            display: none;
        }
	}

    #b-assets-filmroll {
        visibility: hidden;
    }

	#b-assets-content {
		min-height: calc(~"100vh - 60px");
        padding: 5rem 1.5rem;

        > * {
            display: none;
        }

        #b-assets-view-thumbs {
            min-height: calc(~"100vh - (60px + 20rem)");
        }


        .b-settings {
            .b-settings-menu {
                position: fixed;
                top: 6rem;
                bottom: 0;
                left: 0;
                width: 35rem;
                height: auto;
                z-index: 2;
            }

            .b-settings-content {
                min-height: 0;
                padding-left: 40rem;
            }
        }
	}

	#b-assets-upload {
        position: absolute;
        top: 6rem;
        right: 0;
        bottom: 0;
        left: 0;

        .b-assets-upload, .b-assets-upload-container, form {
			width: 100%;
			height: 100%;
        }

		.b-assets-upload-container {
			margin: 0;
            border: 0;
		}
	}

    h1.bigger {
        .text-largest;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 2rem;
        width: 100%;
        max-width: 70rem;
    }
}

@media all and (min-width: 768px) {
    #b-assets-manager {
        #b-assets-content {
            padding: 5rem;
        }

        h1.bigger {
            margin-bottom: 5rem;
        }
    }
}
