.b-asset-metrics {
    margin: 0;
    padding: 0;

    .b-asset-filename {
        background-color: @light-grey;
        padding: 8px 16px;
        margin-bottom: 8px;
    }

    .b-asset-metric-form {
        display: block;
        margin-bottom: 32px;
        overflow: hidden;

        .form-left {
            float: left;
            width: 50%;

            button[type="submit"] {
                border: 2px solid @black;
                text-transform: uppercase;
                padding: 4px 16px;
                border-radius: 4px;
            }
        }

        .form-right {
            float: right;
            width: 50%;

            button[type="submit"] {
                border: 2px solid @black;
                text-transform: uppercase;
                padding: 4px 16px;
                border-radius: 4px;
                float: right;
            }
        }
    }

}