#b-assets-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12rem;
    z-index: 10;
    background: @lightest-grey;
    border-top: 1px solid @darkest-grey;

    &:empty {
        display: none;
    }

    > div {
        overflow: hidden;
        position: absolute;
        width: max-content;
        left: 0;
        top: 1rem;
        bottom: 1rem;

        > div {
            position: relative;
            display: inline-block;
            float: left;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding: 0;

            > div {
                position: relative;
                height: calc(~"10rem - 2px");
                overflow: hidden;
                border: 1px solid transparent;
            }

            &.active > div {
                border-color: @red;
            }
        }
    }

    .b-assets-thumbnail {
        height: 100%;
        width: auto;
        display: inline-block;

        a, img {
            height: 100%;
            width: 100%;
        }

        h2 {
            .text-small;
        }

        p {
            display: none;
        }
    }
}

@media all and (max-width: 767px) {
    #b-assets-navigation {
        display: none;
    }
}
