#b-assets-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 21rem;
    z-index: 10;
    background: @lightest-grey;
    border-top: 1px solid @darkest-grey;

    &:empty {
        display: none;
    }

    > div {
        overflow: hidden;
        position: absolute;
        width: max-content;
        left: 0;
        top: 2rem;
        bottom: 2rem;

        > div {
            position: relative;
            display: inline-block;
            float: left;
            position: relative;
            height: 100%;
            overflow: hidden;
            padding: 1rem;
            border: 1px solid transparent;

            > div {
                position: relative;
                height: 15rem;
                overflow: hidden;
            }

            &.active {
                border-color: @red;
            }
        }
    }

    .b-assets-thumbnail {
        height: 15rem;
        width: auto;
        display: inline-block;

        a, img {
            height: 100%;
            width: 100%;
        }
    }

    .film_roll_pager {
        position: absolute;
        left: 50%;
        bottom: 1rem;
        transform: translateX(-50%);

        .selected {
            background: @red;
            border-color: @red;
        }
    }

    .film_roll_next, .film_roll_prev {
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        margin: 0;
        color: @white;
    }
}

@media all and (max-width: 767px) {
    #b-assets-navigation {
        display: none;
    }
}
