#b-assets-pagination {
	position: relative;
	display: none;

	input, a {
		height: 2em;
		margin: 0;
	}

	.first {
		left: 0;
	}

	.previous {
		left: 25px;
	}

	.next {
		right: 25px;
	}

	.last {
		right: 0;
	}

	a {
		position: absolute;
		z-index: 2;
		height: 24px;
		font-size: 25px;
		width: 25px;
		line-height: 20px;
		color: @dark-grey;
		background: transparent;
		color: @white;
		cursor: pointer;
		border: 0;

		&:hover, &:focus {
			color: @red;
		}
		
		&.disabled {
			color: @dark-grey;
			cursor: default;

			&:hover, &:focus {
				color: @dark-grey;
			}
		}
	}

	input {
		.text-small;
		position: absolute;
		padding: 0 50px;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		cursor: pointer;
		background: transparent;
		color: @white;
		border: 0;

		&:hover {
			color: @red;
		}

		&:focus {
			cursor: text;
		}
	}
}