#b-assets-picker {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: 100002;
	height: auto;
	overflow: auto;
	background: @white;

	#b-assets-upload-progress {
		height: 1.5rem;
	}

	#b-assets-upload-close {
		display: none;
	}

	#b-assets-view-thumbs {
		height: auto;
		width: calc(~"100vw - 25em");
		margin: 0;
		overflow: auto;
		background: transparent;
	}

	&-current {
		margin-bottom: 2em;

		img {
			max-width: 100%;
		}
	}

	&-sidebar {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 25em;
		background: @lightest-grey;
		padding: 1rem 1.5rem;
		z-index: 2;
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		section {
			width: 100%;
		}
	}

	&-filter {
		margin-top: 1.5rem;

		> div {
			border: 1px solid @light-grey;
			padding: 1.5rem;
			margin-top: 1.5rem;
		}

		h2 {
			text-align: center;
			margin: 0 0 1.5rem 0;
		}

		input, select {
			width: 100%;
		}
	}

	&-close {
		margin-top: 50px;
		float: right;
	}

	&-all {
		display: block;
		margin: 1.5rem auto;
		border: 1px solid @grey;
		min-width: 15rem;
	}

	#b-assets-upload-container {
		border-color: @grey;
		height: 20rem;
	}

	#b-assets-upload-info {
		padding: 0 1.5rem;
		top: 50%;
		transform: translateY(-50%);
	}

	#b-assets-upload-add {
		label {
			display: inline;
		}
	}

	#b-assets-pagination {
		border: 0;
		margin-top: 2em;
		width: 100%;
	}

	.b-tags-list {
		padding-left: 0;
		margin: auto -0.25em;

		.b-tag {
			border-color: @darkest-grey;
			color: @white;
		}
	}
}