#b-assets-picker {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: 100002;
	height: auto;
	overflow: auto;
	background: @white;

    &[data-view=assets] {
        .b-assets-view-thumbs {
            display: block;
            position: relative;
            width: 100%;
            min-height: 100%;
        }

        .b-assets-album-list {
            display: none;
        }
    }

    &.show-edit {
        .b-assets-view-thumbs {
            .edit {
                display: block;
            }
        }
    }

	.b-assets-upload-progress {
		height: 1.5rem;
	}

    .b-assets-upload-cancel {
        margin: auto;
    }

    #b-assets-picker-content {
        width: calc(~"100vw - 25em");
        height: 100%;
        padding: 2.5rem;
        overflow: auto;
    }

    .b-assets-view-thumbs {
        display: none;

        .thumbnails {
            width: calc(~"100% + 2rem");
        }

		.edit {
			display: none;
		}
    }

	&-current {
		margin-bottom: 2em;

		img {
			max-width: 100%;
		}
	}

	&-sidebar {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 25em;
		background: @lightest-grey;
		padding: 2.5rem;
		z-index: 2;
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		section {
			width: 100%;
		}
	}

	#b-assets-picker-filter {
		overflow: hidden;

        label {
            position: absolute;
            top: -1000
        }
	}

    #b-assets-search {
        margin-top: 5rem;

        form > div + div {
            margin-top: 2rem;
        }

        .input input {
            padding: 2rem 1rem 1rem;
        }

        select {
            padding: 1rem;
        }

        button {
            margin-top: 3rem;
        }
    }

	&-all {
		display: block;
		margin: 1.5rem auto;
		border: 1px solid @grey;
		min-width: 15rem;
	}

	.b-assets-upload {
        .info {
            p {
                display: none;
            }
        }

        .progress {
            margin-bottom: 3rem;
        }
	}

    #b-assets-picker-close, #b-assets-picker-albums {
        margin-top: 5rem;
    }

	#b-assets-pagination {
		border: 0;
		width: 100%;
        margin-top: 5rem;

		input, a {
			color: @black;
		}

		input:hover {
			color: @red;
		}

		a {
			&.disabled {
				color: @grey;

				&:hover, &:focus {
					color: @grey;
				}
			}

			&:hover, &:focus {
				color: @red;
			}
		}
	}
}