.b-assets-upload {
    color: @darkest-grey;

    &[data-status=uploading] {
        .info {
            display: none;
        }

        .progress, .cancel {
            display: inline-block;
        }
    }

    &[data-status=failed] {
        .info {
            display: none;
        }

        .failed {
            display: block;
        }
    }

    input[type=file] {
        position: absolute;
        top: -1000%;
    }

    label[for='b-assets-upload-file'], label[for='b-assets-replace-file'] {
        .asset-manager-button;
        margin: 0 2rem 0 0;
        vertical-align: middle;
        cursor: pointer;

        + p {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }

    .b-button.cancel {
        background: @red;
        color: @white;
        float: right;

        &:hover, &:focus {
            color: @blue;
        }
    }

    .errors {
        display: none;
        margin: 3rem 0 0 0;

        h2, ul {
            margin: 0;
        }

        li {
            margin: 0.5rem 0 0 0;
        }
    }

    .progress {
        width: calc(~"100% - 50px");
        margin: 0;
        height: 5rem;
        border: 1px solid @darkest-grey;
        float: left;

        .ui-progressbar-value {
            background: @blue;
            height: 100%;
        }
    }

    .progress, .cancel, .failed {
        display: none;
    }
}
