#b-assets-upload {
	&-add {
		color: @red;

		label {
			display: inline-block;
			float: none;
			clear: none;
			padding-right: 0;
			cursor: pointer;
			overflow: inherit;
		}
	}

	&-cancel {
		margin: 1em auto;
		color: @darkest-grey;
		
		&:hover, &:focus {
			color: @red;
		}
	}

	&-container {
		border: 10px dashed @darkest-grey;
		margin: 10px 7px 0 3px;
	}

	&-info {
		text-align: center;
		color: @darkest-grey;
		position: relative;
		top: 33%;

		p:first-of-type {
			margin: 0;
		}

		.message {
			display: none;
		}
	}

	&-progress {
		width: 50%;
		margin: 2rem auto 0 auto;
		height: 5rem;
		border: 1px solid @darkest-grey;

		.ui-progressbar-value {
			background: @light-green;
			height: 100%;
		}
	}

	&-progress, &-file, &-cancel {
		display: none;
	}
}