#b-assets-view-thumbs {
	overflow: hidden;
	padding: 0.25rem;
	width: 100vw;
	height: auto;
	min-height: 100vh;
	position: relative;
	z-index: 2;

	> div {
		margin: 0.75rem;
		display: inline-block;
		position: relative;
		overflow: hidden;
		z-index: 1;
		float: left;
	}
}