#b-assets-view-album {
    .description {
        margin: -3.5rem 0 5rem 0;
        color: @darkest-grey;

        &:focus:before {
            display: none;
        }

        &:empty {
            font-style: italic;
            color: @grey;

            &:before {
                content: 'Set an album description';
            }
        }
    }
}
