#b-assets-view {
	overflow: hidden;
	position: absolute;
	top: 6rem;
	left: 0;
	right: 0;
	bottom: 0;

	.b-settings-content {
		> * {
			display: none;
		}
	}

	&-files {
		ul {
			padding-left: 0;

			li {
				list-style-type: none;
				overflow: hidden;

				+ li {
					margin-top: 15px;
				}

				div {
					display: inline-block;
					float: left;
					width: 50%;
					vertical-align: top;
				}

				h3 {
					margin: 0;
					font-size: 1em;
				}

				p, time {
					display: block;
					margin-top: 5px;
				}

				button {
					margin-left: -15px;
				}
			}
		}
	}

	.b-assets-preview, .boom-tabs {
		display: inline-block;
		vertical-align: top;
		float: left;
	}

	.b-assets-preview {
		width: 400px;
		margin-right: 2rem;
	}

	.boom-tabs {
		width: calc(~"100% - 2rem - 400px");
	}

	.b-buttons {
		margin: 2em 0 0 0;
	}

	textarea {
		height: 6em;
	}

	#b-tags {
		overflow: hidden;

		.b-tag {
			background: @white;
		}
	}

	#b-assets-view-edit {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;

		.image-container {
			position: relative;
		}

		#b-imageeditor-image, .jcrop-active {
			max-width: 100%;
			max-height: 50vh;
			width: auto;
			height: auto;
		}

		.crop-tools {
			display: none;
			padding-left: 1em;

			.aspect-ratio {
				p {
					margin: 0 0 0 1em;
				}

				select {
					float: none;
					width: calc(~"100% - 1em");
				}
			}
		}

		.jcrop-vline, .jcrop-hline {
			background-image: none;
		}

		.b-button {
			.text-small;
			border: 0;
			min-width: 0;
			height: auto;

			&:hover, &:focus {
				background: none;
			}
		}
	}
}
