.b-assets-view-thumbs {
	overflow: hidden;
	width: 100%;

    &.loading {
        > .pace .pace-activity {
            display: block;
        }

        .thumbnails {
            visibility: hidden;
        }
    }

    > .pace .pace-activity {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
        display: none;
    }

	.thumbnails {
        margin: -1rem;
        width: calc(~"100vw - 7rem");
        position: relative;

        &:empty + .b-assets-none {
            display: block;
        }

        > div {
            overflow: hidden;

            > div {
                margin: 1rem;
                display: inline-block;
                position: relative;
                overflow: hidden;
                z-index: 1;
                float: left;
            }
        }
	}

    .b-assets-none {
		.text-large;
        display: none;
		line-height: 85vh;
		font-weight: bold;
		text-align: center;
		height: 100vh;
		color: @black;
    }
}
