#b-assets-view-album {
    .heading {
        display: inline-block;
        width: 70rem;
        max-width: 100%;
        float: left;
    }

    .description {
        margin: -3.5rem 0 5rem 0;
        color: @darkest-grey;

        &:focus:before {
            display: none;
        }

        &:empty {
            font-style: italic;
            color: @grey;

            &:before {
                content: 'Set an album description';
            }
        }
    }

    .controls {
        display: inline-block;
        float: right;
        margin-top: 30px;
        transform: translateY(-50%);

        &:after {
            content: ' ';
            clear: both;
            display: block;
        }
    }
}
