.b-dialog .ui-slider, .ui-slider {
	background-color: #222 !important;
	height: 1.2em;

	&-handle {
		background-color: #fff !important;

		&.ui-state-hover {
			background-color: #444 !important;
		}
	}

	&-horizontal .ui-slider-handle {
		top: 0;
	}
}