.ui-splitbutton-menu {
	background-color: #555;
}

.ui-splitbutton-menu {
	.button-text;
}

.ui-splitbutton {
	float: left;
}

.ui-splitbutton-menu {
	position: absolute;
	z-index: 9999;
	left: -9999px;
	padding: 2px;
}

.ui-splitbutton-menu li {
	list-style: none;
}

.ui-splitbutton-menu li a {
	display: block;
	padding: .3em .5em;
	text-decoration: none;
}

.ui-splitbutton-hitarea {
	outline: none;
}

.ui-splitbutton button {
	margin-right: 0 !important;
	float: left !important;
}