/* BoomCMS overrides for the chosen library to make it fit with the BoomCMS style */
html.boom .chosen-container {
	.text-normal;
	width: 100% !important;

	.chosen-choices {
		border: 1px solid @light-grey;
		background-image: none;
		height: 2em !important;

		li.search-choice {
			.text-small;
			color: @darkest-grey;
			padding-right: 30px;
			height: 2.5rem;
			line-height: 19px;

			.search-choice-close {
				.text-normal;
				background: none;
				font-family: FontAwesome;
				right: 8px;
				top: 1px;

				&:before {
					content: "\f00d";
					display: inline-block;
				}
			}
		}

		li.search-field input[type=text] {
			.text-normal;
			margin: 0;
			height: 2em;
			line-height: 2em;
			width: 100% !important;
		}
	}
}