html.boom .b-button, .b-button {
	.text-default;
	font-weight: normal;
	width: 50px;
	height: 50px;
	margin: 5px 0 0 0;
	background: transparent;
	position: relative;
	padding: 0;
	border: 0;
	border-right: 1px solid #555;
	color: #fff;

	&:disabled {
		opacity: 0.35;

		&:hover, &:focus, &:active {
			background-color: transparent;
		}
	}

	&:hover, &:focus, &:active {
		background-color: #555;
	}

	&.b-button-withtext {
		width: auto;

		.b-button-text, .ui-button-text {
			text-indent: 0;
			margin-left: 45px;
			padding: 0 5px 0 0;

			.b-button-text, .ui-button-text {
				padding: 0;
				margin-left: 0;
			}
		}
	}

	&.b-button-textonly {
		width: auto;
		margin-left: 1em;

		.b-button-icon {
			display: none;
		}

		.b-button-text, .ui-button-text {
			text-indent: 0;
			margin-right: 5px;
		}
	}

	.b-button-text {
		display: block;
		padding: 0.4em;
		text-indent: -9999999px;
		color: @white;
	}

	.b-button-icon {
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		margin: 0;
		display: block;
		position: absolute;
		background-image: url(/media/boom/img/sprite.png);
	}

	&.wysihtml5-command-active {
		background: #468017;

		&:hover, &:focus, &:active {
			background: #468017;
		}
	}

	.b-button-icon-{
		&accept { background-position: 0 0;}
		&cancel { background-position: -30px 0;}
		&preview { background-position: -60px 0;}
		&options { background-position: -90px 0;}
		&visible { background-position: -120px 0;}
		&settings { background-position: -150px 0;}
		&history { background-position: -180px 0;}
		&delete { background-position: -210px 0;}
		&add { background-position: -240px 0;}
		&menu { background-position: -270px 0;}
		&edit-live { background-position: 0 -30px;}
		&view-live { background-position: -30px -30px;}
		&person { background-position: -60px -30px;}
		&thumbnails { background-position: -90px -30px;}
		&previous {background-position: -210px -120px;}
		&next {background-position: -240px -120px;}
		&h2 { background-position: -210px -30px;}
		&h3 { background-position: -240px -30px;}
		&blockquote { background-position:	 -270px -30px;}
		&list { background-position:	 0px -60px;}
		&ol { background-position:	 -30px -60px;}
		&bold { background-position:	 -60px -60px;}
		&italic { background-position:	 -90px -60px;}
		&link { background-position:	 -120px -60px;}
		&asset { background-position:	 -150px -60px;}
		&hr { background-position:	 -180px -60px;}
		&speech { background-position:	 -210px -60px;}
		&edit {	background-position: -30px -90px;}
		&tag { background-position: -60px -90px;}
		&download {	background-position: -90px -90px;}
		&upload { background-position: -120px -90px;}
		&invisible { background-position: -150px -90px;}
		&replace { background-position: -270px -90px;}
		&back { background-position: -210px -120px;}
		&paragraph {background-position: -180px -30px;}
		&sort {background-position: -210px -90px;}
		&cta {
			background-image: none;

			&:after {
				content: "!";
				font-size: 30px;
				color: #fff;
			}
		}
	}
}