#b-environment {
	background-color: rgb(214,39,142);
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
	position: fixed;
	right: 0;
	bottom: 0;
	color: white;
	font-size: 14px;
	padding: 0.5em;
	z-index: 100;

	p {
		padding: 1em;
	}
}