.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eeeeee url(/media/boom/css/themes/default/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) 50% 50% repeat;
	opacity: .8;
	filter:Alpha(Opacity=80);
	z-index: 1000;
}