.b-table {
	color: black;
	border: 0;

	thead {
		background: #222;
	}

	tr, td, th {
		border: 0;
		.text-default;
	}

	tr.ui-state-hover {
		font-weight: normal;
	}

	th {
		color: white;
	}

	.odd {
		background: #eeeeee;
	}

	.even {
		background: #bbbbbb;
	}

	a {
		color: #0000ff;
	}
}