.b-toggle, html.boom .b-toggle {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0;
	width: auto;

	label {
		min-width: 3em;
		width: auto !important;
		.text-default;
		padding: 0.5em;
		.box-sizing;
		background: @red;
		cursor: pointer;
	}

	input[type=radio] {
		position: absolute;
		top: -100%;

		&:checked + label {
			background: @green;
		}
	}

	+ .b-toggle {
		margin-left: 1em;
	}
}