html.boom .b-toolbar, .b-toolbar {
	background: #222;
	overflow: hidden;
	color: #ffffff;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
	position: relative;

	&.b-toolbar-vertical {
		width: 60px;
		height: 100%;
		z-index: 10000;
		position: fixed;
		
		.b-button {
			border-right: 0;
			border-bottom: 1px solid #555;
		}
	}

	&.b-toolbar-text {
		overflow: visible;
	}

	&.b-page-toolbar {
		width: 50px;

		#b-topbar-page-buttons {
			position: absolute;
			top: 60px;
			left: 0;
			bottom: 0;
			padding: 0 5px;
			background: @darkest-grey;
			z-index: 2;
		}
	}

	a, a:visited, a:hover {
		color: #ffffff;
	}
}

html.boom .b-toolbar.b-page-toolbar-preview {
	height: 34px;
	width: 100%;
	padding: 0;
}

html.boom body.pushy-active, body.pushy-active {
	.b-page-toolbar {
		width: 250px;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
}

#wysihtml5-toolbar {
	z-index: 100001;
}

@media screen and (max-height: 767px) {
	.b-toolbar-text .b-button {
		height: 45px;
		margin-top: 2px;
	}
}