html.boom .b-toolbar, .b-toolbar {
	background: #222;
	overflow: hidden;
	color: #ffffff;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
	position: relative;

	&.b-toolbar-vertical {
		width: 60px;
		height: 100%;
		z-index: 10000;
		position: fixed;
		
		.b-button {
			border-right: 0;
			border-bottom: 1px solid #555;
		}
	}

	&.b-toolbar-text {
		overflow: visible;
	}

	&.b-page-toolbar {
		width: 50px;
	}

	a, a:visited, a:hover {
		color: #ffffff;
	}
}

html.boom .b-toolbar.b-page-toolbar-preview {
	height: 34px;
	width: 100%;
	padding: 0;
}

@media screen and (max-height: 767px) {
	.b-toolbar-text .b-button {
		height: 45px;
		margin-top: 2px;
	}
}