#b-topbar {
	background: #7f7f7f;
	overflow: hidden;
	color: #ffffff;

	a, a:visited, a:hover {
		color: #ffffff;
	}

	&-revisions {
		font-size: 90%;
		border-top: 1px solid #ddd;
		padding: .2em .2em .4em .2em;
		color: #444;

		a {
			color: #222;
		}
	}

	&-pagesettings {
		display: none;
		border-top: 1px solid #ccc;
		padding: .5em;
		overflow: hidden;
	}
}

#b-topbar .ui-tabs-nav a {
	padding: .4em 1em;
}

#b-topbar-revisions .b-topbar-autosave {
	padding-right: .5em;
}
#b-topbar-revisions .b-topbar-status {
	padding-left: .5em;
}