#b-topbar {
	background: #222;
	overflow: hidden;
	color: #ffffff;

	&.b-page-toolbar {
		position: absolute;
		height: 100%;

		.b-button {
			border-right: 0;
			border-bottom: 1px solid #555;
		}
	}

	&.b-page-toolbar-preview {
		height: 34px;
		width: 100%;
		padding: 0;
	}

	a, a:visited, a:hover {
		color: #ffffff;
	}

	&-pagesettings {
		display: none;
		border-top: 1px solid #ccc;
		padding: .5em;
		overflow: hidden;
	}
}

#b-topbar .ui-tabs-nav a {
	padding: .4em 1em;
}