.ui-widget-overlay {
	background: #000;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

.ui-helper-left {
	float: left;
}
.ui-helper-right {
	float: right;
}
.ui-helper-center {
	text-align: center;
}
.ui-helper-clear {
	clear: both;
}

.ui-tabs .ui-tabs-nav li a {
	outline: none;
}

.boom-tabs .ui-helper-right {
	float: right !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled {
	opacity: .6;
	filter: Alpha(Opacity=60);
}

.ui-splitbutton {
	float: left;
}
.ui-splitbutton-menu {
	position: absolute;
	z-index: 9999;
	left: -9999px;
	padding: 2px;
}

.ui-splitbutton-menu li {
	list-style: none;
}
.ui-splitbutton-menu li a {
	display: block;
	padding: .3em .5em;
	text-decoration: none;
}
.ui-splitbutton-hitarea {
	outline: none;
}
.ui-splitbutton button {
	margin-right: 0 !important;
	float: left !important;
}

.ui-tree {
	padding: .4em;
}
.ui-tree ul {
	margin-left: 16px;
}
.ui-tree a {
	display: block;
	padding: .2em;
	outline: none;
}
.ui-tree a.ui-state-hover {
	margin: -1px;
}
.ui-tree .ui-icon {
	float: left;
}
.ui-tree-icon-transparent {
	background: transparent !important;
}
.ui-tree-item-active {
	font-weight: bold;
}
.ui-tree-placeholder {
	height: 1.5em;
	line-height: 1.2em;
}