.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-state-hover,
.ui-state-focus,
.ui-state-active,
.ui-state-highlight,
.ui-state-error,
.ui-state-error-text {
	.ui-icon {
		background-image: url(/media/boom/img/sprite.png);
	}
}

.ui-icon {
	&-triangle-1-e {
		background-position: 0 -120px;
	}

	&-triangle-1-s {
		background-position: -30px -120px;
	}

	&-close {
		background-position: -60px -120px;
	}

	&-wrench {
		background-position: -90px -120px;
	}

	&-closethick {
		background-position: -68px -128px;
		height: 16px;
		width: 16px;
		top: 3px !important;
		left: 3px !important;
	}

	&-circle-triangle-w {
		background-position: -150px -120px;
		top: 5px !important;
		left: 5px !important;
	}

	&-circle-triangle-e {
		background-position: -180px -120px;
		top: 5px !important;
		left: 5px !important;
	}

	&-remove-small {
		background-position: -120px -120px;
	}
}