#b-slideshow-editor {
	overflow: visible;
	padding: 1em 0;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	ul {
		margin: 0;
	}

	.container {
		overflow: hidden;
		width: 100%;

		section {
			display: table-cell;
			padding: 0 1em;
			border-collapse: collapse;

			&:first-of-type {
				width: 45%;
				border-right: 1px solid @darkest-grey;
			}

			&:nth-of-type(2) {
				width: 51%;
				padding-left: 4%;
			}

			h1 {
				margin-top: 0;
				.text-large;
			}
		}
	}

	&-current {
		form {
			display: none;

			img {
				max-width: 100%;
				max-height: 200px;
				margin: 1em 0 2em 0;
			}

			label {
				float: none;

				p, input {
					display: inline-block;
				}

				p {
					width: 5em;
				}

				input {
					width: 20em;
				}
			}

			.b-slideshow-link {
				input {
					float: right;
					width: 18.1em;
				}

				p {
					float: left;
				}

				button {
					margin-top: 0;
					float: right;
				}
			}

			button {
				margin-top: 2em;
			}
		}
	}

	&-slides {
		list-style-type: none;
		overflow: hidden;
		padding-left: 0;
		margin-left: -0.5em;
		max-height: 500px;
		overflow: auto;

		li {
			float: left;
			height: 6em;
			overflow: hidden;

			&:first-of-type {
				margin-left: 0;
			}

			label {
				height: 100%;
				width: auto;
				position: relative;
				margin-top: 0;

				input[type=radio] {
					position: absolute;
					top: -100%;

					&:checked + img {
						border: 1px solid @darkest-grey;
					}
				}

				img {
					height: 100%;
					width: auto;
					padding: 0.5em;
					border: 1px solid transparent;
				}
			}
		}
	}

	&-add {
		margin-left: 2em;
	}

	&-buttons {
		position: absolute;
		bottom: -4em;
	}
}
