#b-group-edit {
	&-permissions {
		padding: 9.75px;

		h2 {
			margin-left: 1em;
		}

		> ul {
			padding-left: 1em;
		}

		#b-group-roles-general, #b-group-roles-pages {
			display: none;
			overflow: hidden;

			input[type=radio], input[type=checkbox] {
				position: absolute;
				left: -9999px;
			}

			label {
				width: 100%;
				height: 100%;
				display: block;
				text-indent: -1000%;
				overflow: hidden;
				text-align: center;
				margin: 0;
				padding: 1.5rem;

				&:after {
					display: block;
					content: "-";
					position: absolute;
					left: 0;
					right: 0;
					text-indent: 0;
					top: 50%;
					transform: translateY(-50%);
				}

				&:hover, &:active {
					background: @light-grey;
				}
			}
			input:checked + label {
				&:after {
					content: "X";
				}
			}
		}
	}
}

.b-group-roles {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;

	thead {
		th {
			font-weight: normal;
			text-transform: uppercase;
			padding: 1.5rem;
		}
	}

	tr td, tr th {
		border-right: 1px solid @grey;
		border-bottom: 1px solid @grey;
	}

	td {
		position: relative;
	}

	td:first-of-type, th:first-of-type {
		width: 50%;
	}

	&-help {
		display: inline-block;
		width: 35%;
		vertical-align: top;
		padding-left: 1em;
		border-left: 1px solid @grey;
		margin-top: -2em;
		float: right;

		p:first-of-type {
			margin-top: 0;
		}

		> p, dl {
			padding-bottom: 1em;
			border-bottom: 1px solid #eee;
		}

		.summary {
			overflow: hidden;

			dt, dd {
				display: inline-block;
			}

			dt {
				width: 25%;
				vertical-align: top;
				text-transform: uppercase;
			}

			dd {
				width: 70%;
				margin-left: 2%;
				vertical-align: top;
				margin-bottom: 1em;

				&:after {
					content:"\A";
					white-space:pre;
				}
			}
		}

		.full {
			border-bottom: 0;
			margin-top: 0;

			dt {
				padding-top: 1em;
				text-transform: uppercase;

				&:first-of-type {
					padding-top: 0;
				}
			}

			dd {
				margin-top: 1em;
				border-bottom: 1px solid #eee;
				margin-left: 0;
				padding-bottom: 1em;

				&:last-of-type {
					border-bottom: 0;
				}
			}
		}
	}
}

#b-group-roles-pages {
	> div {
		display: inline-block;

		&:first-of-type {
			width: 60%;
		}
	}

	.b-group-roles-help {
		margin-top: 0;
	}

	.b-group-roles {
		display: none;
		width: 100%;
	}

	.boom-tree > ul {
		margin: 0;
	}
}