#b-people-manager {
	h2 {
		.text-large;
		font-weight: bold;
		display: inline-block;
		border: 1px solid transparent;
		margin: -1px;
	}

	.email {
		color: @grey;
	}

	section {
		+ section {
			margin-top: 5rem;
		}
	}

	#b-people-content {
		position: relative;
	}

	#b-person-view {
		width: 100rem;
		max-width: 100%;
		position: relative;

		#b-person-delete {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	table {
		margin-top: 2rem;

		tbody .groups {
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;
				display: inline-block;

				&:after {
					content: ', ';
				}

				&:last-of-type:after {
					content: '';
				}
			}
		}
	}

	#b-groups {
		margin-bottom: 5rem;

		&-header {
			background: @red;
			padding: 0.5rem;

			h2 {
				.text-normal;
				margin: 0.75em 0;
				text-transform: uppercase;
				color: @white;
			}
		}

		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				margin: 0;
				padding:0;
				overflow: hidden;
				width: 100%;

				&:nth-of-type(odd) {
					background: @white;
				}
				
				&:nth-of-type(even) {
					background: @lightest-grey;
				}

				&.current {
					a.b-groups-item {
						color: @red;
					}
				}
				
				a {
					display: inline-block;
					float: left;
				}

				.b-groups-item {
					width: calc(~"100% - 6rem");
					padding: 1rem 0.5rem;
				}

				a.fa {
					height: 2rem;
					width: 2rem;
					margin: 1.2rem 1rem 0 0;
				}
			}
		}

		&-new {
			overflow: hidden;
			margin-top: 2rem;

			input[type=text] {
				width: calc(~"100% - 4rem");
				float: left;
				display: inline-block;
			}

			button {
				float: right;
				background: none;
				border: 0;
				padding: 0;
				width: 4rem;
				cursor: pointer;
			}
		}
	}

	button[type=submit] {
		border: 0;
		background: none;
		padding: 0;

		&:hover, &:focus {
			.fa {
				color: @blue;
			}
		}

		.fa {
			color: @red;
			font-size: 2rem;
			line-height: 3.2rem;
			text-align: center;
		}
	}

	#b-people-create {
		label {
			margin-top: 0;

			span {
				position: absolute;
				left: -10000%;
			}

			&.groups {
				overflow: visible;

				ul span {
					position: static;
				}
			}
		}

		input[type=text], input[type=email] {
			width: 100%;
			margin-left: 0;
		}
	}
}

@media all and (min-width: 768px) {
	#b-people-manager {
		> div {
			display: inline-block;
			vertical-align: top;
			float: left;
		}

		#b-people-content {
			width: calc(~"100% - 35rem");
			padding-left: 2em;
		}

		#b-groups {
			width: 35rem;
			margin-bottom: 0;
		}
	}
}