#b-people-manager {
	h2 {
		.text-normal;
		font-weight: normal;
		margin-top: 0;
		text-transform: uppercase;
		display: inline-block;
	}

	> div {
		display: inline-block;
		vertical-align: top;
	}

	#b-people-content {
		width: 70%;
		margin-left: 2em;
	}

	#b-items-view-list {
		width: 100%;
	}

	#b-people-addgroup {
		display: none;
	}

	#b-groups {
		width: 25%;
		color: #fff;
		min-height: 90%;

		&-header {
			background: @red;
			padding: 0.5rem;

			button {
				float: right;
				background-color: transparent;
				margin-top: 0;

				&:hover, &:focus, &:active {
					color: @darkest-grey;
				}
			}

			h2 {
				display: inline-block;
				margin-top: 0.75em;
			}
		}

		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				margin: 0;
				padding:0;
				overflow: hidden;
				width: 100%;

				&:nth-of-type(odd) {
					background: @white;
				}
				
				&:nth-of-type(even) {
					background: @lightest-grey;
				}

				&.current {
					a.b-groups-item {
						color: @red;
					}
				}
				
				a {
					display: inline-block;
					float: left;
				}

				.b-groups-item {
					width: calc(~"100% - 6rem");
					padding: 1rem 0.5rem;
				}

				a.fa {
					height: 2rem;
					width: 2rem;
					margin: 1.2rem 1rem 0 0;
				}
			}
		}
	}

	.b-group-roles {
		display: inline-table;
		width: 60%;

		th {
			color: @white;
		}
	}
}