#b-group-edit {
	&-name {
		background: #7f7f7f;
		margin-bottom: 0.5em;
		height: 50px;
		padding: 0.5em;
		font-size: 1.5em;

		input {
			margin-left: 1em;
			vertical-align: top;
			margin-top: 0;
		}

		button {
			margin-top: -0.75em;
			background-color: transparent;
			border :0;
			width: auto;

			&:hover, &:focus, &:active {
				background-color: #555;
			}

			.b-button-text {
				text-indent: 1.5em;
				text-transform: uppercase;
				font-weight: normal;
			}
		}

		fieldset {
			border: 0;
		}
	}

	&-permissions {
		padding: 9.75px;
		background: #444;

		h2 {
			font-size: 1.5em;
			margin-left: 1em;
		}

		ul {
			background: #444;
			padding-left: 1em;

			li {
				background: #ccc;

				&.ui-state-active {
					background: #7f7f7f;
				}
			}
		}

		#b-group-roles-general, #b-group-roles-pages {
			display: none;
			background: #7f7f7f;
			padding-left: 2em;

			input[type=radio], input[type=checkbox] {
				position: absolute;
				left: -9999px;
			}
			label {
				display: inline;
				clear: none;
				float: none;
				display: inline-block;
				color: transparent;
				width: 100%;
				height: 100%;
				line-height: 0px;
				margin-left: 1.5em;

				&:after {
					display: inline-block;
					content: " - ";
					color: white;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					padding-top: 1.25em;
				}
			}
			input:checked + label {
				&:after {
					content: " X ";
					color: white;
				}
			}
		}
	}
}

.b-group-roles {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;

	thead {
		font-size: 1.2em;

		th {
			font-weight: normal;
			text-transform: uppercase;
		}
	}

	tr td, tr th {
		padding: 0.8em 1em;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	td {
		position: relative;

		&:active, &:hover, &:focus {
			background: #444;
		}
	}

	td:first-of-type, th:first-of-type {
		width: 50%;
		padding-left: 0;

		&:active, &:hover, &:focus {
			background: initial;
		}
	}

	&-help {
		display: inline-block;
		width: 35%;
		vertical-align: top;
		padding-left: 1em;
		border-left: 3px solid white;
		margin-top: -2em;

		p:first-of-type {
			margin-top: 0;
		}
	}
}

#b-group-roles-pages {
	.b-group-roles {
		display: none;
	}
}