#b-page {
	/* Container for action buttons, e.g. save, publish... */
	&-actions {
		float: left;

		.separator {
			float: left;
			margin-right: 6px;
			margin-top: 4px;
			display: none;
			height: 1.5em;
			width: 1px;
			border-right: 1px solid #aaa;
		}
	}

	&-actions button, &-metadata button {
		margin-right: 2px;
		float: left;
	}

	&-actions .ui-buttonset, &-metadata .ui-buttonset {
		margin-right: 2px;
	}

	/* List of child pages which will be affected by a page being deleted */
	&-delete-children {
		overflow: auto;
		max-height: 200px;
		_height: 200px;
		margin-bottom: 1em;

		ul {
			margin-bottom: 0;
		}
	}

	&-topbar {
		width: 100%;
		background-color: transparent;
	}

	&settings {
		&-tags {
			&-add {
				&-name {
					display: none;
				}
			}
		}
	}

	&-editbutton {
		float: right;
	}
}

.b-page {
	&-container {
		display: inline;
		margin-left: 5%;
	}
}

/* No borders for tables in page settings modal windows */
.b-pagesettings {
	table, tr, td {
		border: 0px;
	}
}
