/* BOOM ASSETS */
#b-assets {
	&-view {
		/* View asset info list - type, filesize, etc. */
		dl {min-width: 600px;}
		dt {float: left; min-width: 150px;}

		textarea {
			height: 2.6em;
		}

		.ui-tabs .ui-tabs-panel {
			padding: 1.8em 1.4em;
		}
	}

	/* The filter by name input box */
	&-filter-title {
		margin-left: 40px;
		margin-top: 5px;
		width: 200px;
	}

	/* Styling for the 'no assets found' message when the asset manager returns no assets */
	&-none {
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		margin-top: 15%;
	}
}

.b-assets- {
	&-preview {
		width: 170px;
		float: left;
		margin: 0 .8em 1em 1em;

		&:hover img {
			border-color: #444;
		}

		img {
			background-color: transparent;
			display: block;
			padding: 5px;
			cursor: pointer;
			display: block;
			width: 160px;
			-moz-box-shadow: 3px 3px 3px #bbb;
			-webkit-box-shadow: 3px 3px 3px #bbb;
			box-shadow: 3px 3px 3px #bbb;
		}
	}
}