#b-page {
	/* Container for action buttons, e.g. save, publish... */
	&-actions {
		float: left;

		.separator {
			float: left;
			margin-right: 6px;
			margin-top: 4px;
			display: none;
			height: 1.5em;
			width: 1px;
			border-right: 1px solid #aaa;
		}
	}

	&-actions button, &-metadata button {
		margin-right: 2px;
		float: left;
	}

	&-actions .ui-buttonset, &-metadata .ui-buttonset {
		margin-right: 2px;
	}

	/* List of child pages which will be affected by a page being deleted */
	&-delete-children {
		overflow: auto;
		max-height: 200px;
		_height: 200px;
		margin-bottom: 1em;

		ul {
			margin-bottom: 0;
		}
	}

	&-topbar {
		width: 100%;
		background-color: transparent;
	}

	&-settings {
		&-tags {
			&-add {
				&-name {
					display: none;
				}
			}
		}

		&-children-reorder {
			float: right;
		}

		&-children-sort {
			list-style-image:url('/media/boom/img/sort.png');
			& li {
				padding: 3px;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}

		&-urls {
			li {
				background-color: #fff;
				color: #000;
				border-bottom: 1px solid #000;
				overflow: hidden;

				&.ui-state-active {
					background-color: #6F7E8E;

					.tools {
						visibility: hidden;
					}
				}

				input:checked + label {
					background-color: inherit;
					color: inherit;
					font-weight: bold;
				}

				label {
					display: inline-block;
					color: #666;

					&.primary {
						float:right;
					}
				}

				.tools {
					float :right;

					button {
						display: inline-block;
						border: none;
						padding: 3px !important;
						background-color: #fff;
						color: #909;
						font-weight: bold;
					}

					label {
						display: inline-block;

						span {
							display: inline-block;
							width: 15px;
							height: 15px;
							background-color: #666;
							color: #fff;
							padding: 3px;
						}
						span.off {
							background-color: #333;
							color: #fff;
						}
					}

					input[type=checkbox]:checked + label {
						background-color: inherit;
						color: inherit;
						span.on {
							background-color: #333;
							color: #fff;
						}


						span.off {
							background-color: #666;
							color: #fff;
						}
					}
				}
			}
		}
	}

	&-toggle-visible {
		display: none;
	}

	&-editbutton {
		float: right;
	}
}

.b-page {
	&-container {
		display: inline;
		margin-left: 10%;
	}

	&-settings {
		label {
			margin-bottom: 0.5em;
		}
	}
}

#boom-feature-remove {
	margin-right: 70px;
}

#boom-page-settings-url-add {
	margin-right: 320px;
}