#b-menu {
	padding: 0.2em 0.2em 0;
	background: #7f7f7f;
	color: #ffffff;
	font-weight: bold;
	margin: 0;

	li {
		list-style: none;
		display: inline-block;
		position: relative;
		margin :1px 0.2em 0 0;
		padding: .4em 1em;
		background: #424b55;

		&:hover, &:focus, &:active {
			background: #6f7e8e;
		}

		a {
			font-size: 1.3em;
		}
	}
}