#boom-topbar {
	padding: 0;
	-moz-box-shadow: 0 0 4px #666;
	-webkit-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	&-useractions {
		float: right;
	}

	&-revisions {
		font-size: 90%;
		border-top: 1px solid #ddd;
		padding: .2em .2em .4em .2em;
		color: #444;

		a {
			color: #222;
		}
	}

	&-pagesettings {
		display: none;
		border-top: 1px solid #ccc;
		padding: .5em;
		overflow: hidden;
	}
}

#boom-topbar .ui-tabs-nav a {
	padding: .4em 1em;
}

#boom-topbar-revisions .boom-topbar-autosave {
	padding-right: .5em;
}
#boom-topbar-revisions .boom-topbar-status {
	padding-left: .5em;
}