/* BOOM ASSETS */
#s-asset {
	&-view {
		td {
			padding: 5px;
		}

		textarea {
			height: 2.6em;	
		}

		.ui-tabs .ui-tabs-panel {
			padding: 1.8em 1.4em;
		}

		.boom-tabs {
			margin-bottom: 2em;
		}
	}

	/* Styling for the 'no assets found' message when the asset manager returns no assets */
	&-none {
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		margin-top: 15%;
	}
}

.s-assets- {
	&-preview {
		width: 170px;
		float: left;
		margin: 0 .8em 1em 1em;

		&:hover img {
			border-color: #444;
		}

		img {
			background-color: transparent;
			display: block;
			padding: 5px;
			cursor: pointer;
			display: block;
			width: 160px;
			-moz-box-shadow: 3px 3px 3px #bbb;
			-webkit-box-shadow: 3px 3px 3px #bbb;
			box-shadow: 3px 3px 3px #bbb;
		}
	}
}