.text-large {
	font-family: @font;
	font-size: 1.5em;
	line-height: 1.4em;
}

.text-default {
	font-family: @font;
	font-size: 1em;
	line-height: 1.4em;
}

.box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}