.not-found {
	max-width: 25em;
	margin: 10em auto 5em auto;
	padding: 2em;
	text-align: center;

	.unhappy {
		margin-bottom: 2em;
	}

	.message {
		p {
			font-size: 1.0em;

			strong {
				color: @red;
			}
		}
	}

	.boom-link {
		img {
			margin: 2em auto;
			width: 10em;
		}
	}
}