#b-account {
	padding: 10px;
	color: @darkest-grey;

	.message {
		.text-large;
		font-weight: bold;
	}

	p {
		overflow: hidden;

		label {
			width: 11em;
			float: left;
			margin-top: 0;
		}

		input {
			width: 25em;
			float: left;
			margin-left: 1em;
		}
	}
}