#b-account {
	background: @lightest-grey;
	color: @darkest-grey;
	margin-top: -10px;
	padding: 100px 10px 10px 10px;

	.message {
		.text-large;
		font-weight: bold;
	}

	p {
		overflow: hidden;

		label {
			width: 11em;
			float: left;
			margin-top: 0;
		}

		input {
			width: 25em;
			float: left;
			margin-left: 1em;
			border: 1px solid @grey;
		}
	}
}