#b-dashboard {
    section {
        background: @lightest-grey;
        padding: 2rem;

        + section {
            margin-top: 5rem;
        }

        h2 {
            margin-bottom: 2rem;
        }
    }

    .logo {
        height: 59px;
        width: auto;
        margin-bottom: 3rem;
    }

    .cols {
        > * + * {
            margin-top: 5rem;
        }
    }

    .buttons {
        overflow: hidden;
        margin: 0 0 3rem 0;

        a {
            border: 1px solid @blue;
            padding: 2rem;
            min-width: 15rem;
            display: block;

            + a {
                margin-top: 3rem;
            }

            .fa {
                margin-right: 1rem;
            }

            &:hover, &:focus {
                background: @blue;
                color: @white;
            }
        }
    }

    .page-list {
        list-style-type: none;
        padding-left: 0;
        max-height: 40rem;
        overflow: auto;

        li {
            + li {
                margin-top: 3rem;
            }
        }

        time {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
}

@media all and (min-width: 550px) {
    #b-dashboard {
        .buttons {
            overflow: hidden;

            a {
                display: inline-block;
                float: left;

                + a {
                    margin-top: 0;
                    margin-left: 3rem;
                }
            }
        }
    }
}

@media all and (min-width: 765px) {
    #b-dashboard {
        .logo {
            float: right;
            margin-bottom: 3.6rem;

            + * {
                clear: right;
            }
        }

        .cols {
            overflow: hidden;
            margin: -2.5rem;

            > * {
                display: inline-block;
                float: left;
                width: 50%;
                padding: 2.5rem;
                margin: 0;
            }
        }
    }
}