.b-dialog {
	background-color: #555;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: visible;
	border: 0;
	padding: 0;
	z-index: 10002;

	.b-dialog-form {
		input, select {
			min-width: 20em;
		}
	}

	.ui-dialog-titlebar {
		text-transform: uppercase;
		background-color: #222;
		color: @white;
		border: 0;

		span {
			.text-default;
		}

		&-close {
			display: none;
		}
	}

	.ui-dialog-buttonpane {
		margin-top: 0;
		background-color: #666;
		border: 0;

		.ui-icon {
			margin: 0;
			top: 10px;
			left: 10px;
		}

		.ui-button-text {
			padding: .4em;
			text-indent: -99999px;
		}
	}

	.ui-widget-content {
		background-color: #666;
		color: @white;

		&.ui-dialog-content {
			padding-top: 0;
		}
	}

	.ui-state-highlight {
		background: transparent;
		color: @lightest-grey;
		font-weight: bold;
		border: 0;

		span {
			display: none;
		}
	}

	h1 {
		.text-large;
	}

	p, li {
		.text-default;

		* {
			font-size: inherit;
			line-height: inherit;
		}
	}
}