.b-dialog {
	background-color: @white;
	color: @darkest-grey;
	max-height: 100%;
	overflow: hidden;
	z-index: 10002;
	outline: 0;
	display: inline-block;
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	transform: translateX(-50%) translateY(-50%);

	.ui-widget-header.ui-dialog-titlebar {
		.text-large;
		background-color: @red;
		color: @white;
		padding: 1rem 1.5rem;
	}
	
	.ui-dialog-titlebar-close {
		display: none;
	}

	.ui-dialog-buttonpane {
		background: @lightest-grey;
		padding: 1.5rem;
		text-align: right;

		button {
			border: 0;
			border-radius: 5px;
			background: @dark-green;
			color: @white;
			padding: 1rem 2rem;

			&:hover, &:focus {
				background: @light-green;
			}

			+ button {
				margin-left: 1rem;
			}

			&.b-button-cancel {
				background: none;
				color: @black;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.ui-dialog-content {
		padding: 1.5rem;
		max-height: calc(~"100vh - 110px") !important;
		overflow: auto;
	}

	.buttons {
		position: absolute;
		bottom: 1rem;
	}
	
	button.b-button {
		color: @darkest-grey;

		&:hover, &:focus {
			color: @red;
		}
	}

	img {
		max-width: 100%;
	}
}
