.b-editable {
	box-sizing: border-box !important;
	border: 1px solid transparent !important;

	&:hover:not(:focus) {
		background-color: @red !important;
		cursor: pointer !important;
		border: 1px dashed black !important;
		color: black !important;
	}

	&:focus:not([data-boom-chunk=text]):not(#b-page-title) {
		background-color: @red !important;
		border: 1px dashed black !important;
		color: black !important;
	}
}