html.boom {
	select,
	textarea,
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=date],
	input[type=submit] {
		.text-normal;
		border-radius: 0;
		border: 1px solid @light-grey;
		padding: 2px 5px;
		-webkit-appearance: none;
		background: @white;
		color: @darkest-grey;
	}

	select {
		height: 2em;
		padding: 2px 30px 2px 5px;
		width: 100%;
		background: @white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAUCAYAAABmvqYOAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABu8AAAbvAG6t6C7AAAAB3RJTUUH3gsFCx0KtwJ8PwAAASBJREFUOMtjYBgFWAAjAwMDQ2Rk5NajR4+68vLy/oKJEQH+//79m1lISOirk5OTdltb20usqoqKimJYWFj+MzAwkIQZGRn/BwQEnMRlOxMDAwMDHx/fMldX1xukeltMTOyflpZWIkGFJSUlvuzs7CS5PDQ09AA+M5lgDB4enq1OTk43iXW1uLj4P1VV1SyivVlaWupPrOsJuRrF5QwMDAzc3NybiXG9mJjYP1VV1RyS0yYxrg8NDT1IjFlM6ALc3NybHR0dbxFwdTbZOau4uDgAl+uJdTVWlzMwMDDw8vJuwuZ6qKtzKS4XsLk+NDT0EClmMOGSQHc92SkEn+vZ2NjIcjVel8Ncb2dnd5+NjY2Bqq6Ggfz8/Izw8PC9g66yAACAi4CJl0EDUAAAAABJRU5ErkJggg==') no-repeat center right;

		&[multiple] {
			background: @white;
			height: 8em;
		}
	}

	input[type=text],
	input[type=password],
	input[type=submit],
	input[type=email],
	input[type=tel],
	input[type=date] {
		height: 2em;
	}

	label {
		display: block;
		margin-top: 0.75em;
		overflow: hidden;

		p {
			margin-bottom: 0.5rem;
		}

		input[type=radio] {
			position: absolute;
			top: -1000%;

			+ span.radio {
				display: inline-block;

				&:before {
					font-family: 'FontAwesome';
					content: "\f10c";
				}
			}

			&:checked + span.radio {
				color: @red;

				&:before {
					content: "\f111";
				}
			}
		}

		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=date],
		select,
		textarea {
			float: right;
			width: 70%;
			margin-left: 1em;

			@media all and (max-width: 768px) {
				float: none;
				width: 100%;
				margin-left: 0;
			}
		}

		input {
			margin-left: 1em;
		}
	}

    .input {
        position: relative;
        display: block;

        + .input {
            margin-top: 2.5rem;
        }

        .fa {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4rem;
            background: @white;
            color: @red;
            text-align: center;
            line-height: 6rem;
            z-index: 3;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            position: relative;
            z-index: 2;

            &.has-content, &:focus {
                padding-top: 2rem;
                opacity: 1;
                outline: 0;

                + label {
                    .text-small;
                    transform: none;
                    top: 1rem;
                    transition: all 0.5s;
                    z-index: 3;
                }
            }

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px @lightest-grey inset;
            }

            + label {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                margin: 0;
                transition: all 0.5s;
            }
		}
		
		
		
	}
	
	/* range */

	input[type=range] {
		/*removes default webkit styles*/
		-webkit-appearance: none;
		
		/*fix for FF unable to apply focus style bug */
		border: 1px solid @white;
		
		/*required for proper track sizing in FF*/
		width: 300px;
	}
	input[type=range]::-webkit-slider-runnable-track {
		width: 300px;
		height: 5px;
		background: @light-grey;
		border: none;
		border-radius: 3px;
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: @red;
		margin-top: -4px;
	}
	input[type=range]:focus {
		outline: none;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
		background: @grey;
	}
	
	input[type=range]::-moz-range-track {
		width: 300px;
		height: 5px;
		background: @light-grey;
		border: none;
		border-radius: 3px;
	}
	input[type=range]::-moz-range-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: @red;
	}
	
	/*hide the outline behind the border*/
	input[type=range]:-moz-focusring{
		outline: 1px solid @white;
		outline-offset: -1px;
	}
	
	input[type=range]::-ms-track {
		width: 300px;
		height: 5px;
		
		/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
		background: transparent;
		
		/*leave room for the larger thumb to overflow with a transparent border */
		border-color: transparent;
		border-width: 6px 0;
	
		/*remove default tick marks*/
		color: transparent;
	}
	input[type=range]::-ms-fill-lower {
		background: @grey;
		border-radius: 10px;
	}
	input[type=range]::-ms-fill-upper {
		background: @light-grey;
		border-radius: 10px;
	}
	input[type=range]::-ms-thumb {
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: @red;
	}
	input[type=range]:focus::-ms-fill-lower {
		background: @grey;
	}
	input[type=range]:focus::-ms-fill-upper {
		background: @grey;
	}
}