html.boom {
	select,
	textarea,
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	input[type=date],
	input[type=submit] {
		.text-normal;
		border-radius: 0;
		border: 1px solid @light-grey;
		padding: 2px 5px;
		-webkit-appearance: none;
		background: @white;
		color: @darkest-grey;
	}

	select {
		height: 2em;
		padding: 2px 30px 2px 5px;
		width: 100%;
		background: @white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAUCAYAAABmvqYOAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABu8AAAbvAG6t6C7AAAAB3RJTUUH3gsFCx0KtwJ8PwAAASBJREFUOMtjYBgFWAAjAwMDQ2Rk5NajR4+68vLy/oKJEQH+//79m1lISOirk5OTdltb20usqoqKimJYWFj+MzAwkIQZGRn/BwQEnMRlOxMDAwMDHx/fMldX1xukeltMTOyflpZWIkGFJSUlvuzs7CS5PDQ09AA+M5lgDB4enq1OTk43iXW1uLj4P1VV1SyivVlaWupPrOsJuRrF5QwMDAzc3NybiXG9mJjYP1VV1RyS0yYxrg8NDT1IjFlM6ALc3NybHR0dbxFwdTbZOau4uDgAl+uJdTVWlzMwMDDw8vJuwuZ6qKtzKS4XsLk+NDT0EClmMOGSQHc92SkEn+vZ2NjIcjVel8Ncb2dnd5+NjY2Bqq6Ggfz8/Izw8PC9g66yAACAi4CJl0EDUAAAAABJRU5ErkJggg==') no-repeat center right;

		&[multiple] {
			background: @white;
			height: 8em;
		}
	}

	input[type=text],
	input[type=password],
	input[type=submit],
	input[type=email],
	input[type=tel],
	input[type=date] {
		height: 2em;
	}

	label {
		display: block;
		margin-top: 0.75em;
		overflow: hidden;

		p {
			margin-bottom: 0.5rem;
		}

		input[type=radio] {
			position: absolute;
			top: -1000%;

			+ span.radio {
				display: inline-block;

				&:before {
					font-family: 'FontAwesome';
					content: "\f10c";
				}
			}

			&:checked + span.radio {
				color: @red;

				&:before {
					content: "\f111";
				}
			}
		}

		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=date],
		select,
		textarea {
			float: right;
			width: 70%;
			margin-left: 1em;

			@media all and (max-width: 768px) {
				float: none;
				width: 100%;
				margin-left: 0;
			}
		}

		input {
			margin-left: 1em;
		}
	}
}