html.boom {
	select,
	textarea,
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=submit] {
		.text-normal;
		border-radius: 0;
		border: 1px solid @light-grey;
		padding: 2px 5px;
		-webkit-appearance: none;
		background: @white;
		color: @darkest-grey;
	}

	select {
		height: 2em;
		padding: 2px 30px 2px 5px;
		background: @white url(/vendor/boomcms/boom-core/img/down.png) no-repeat center right;
		
		&[multiple] {
			background: @white;
			height: 8em;
		}
	}

	input[type=text], input[type=password], input[type=submit], input[type=email] {
		height: 2em;
	}

	label {
		display: block;
		margin-top: 0.75em;
		overflow: hidden;

		input[type=text], select, textarea {
			float: right;
			width: 70%;
			margin-left: 1em;
		}

		input {
			margin-left: 1em;
		}
	}
}