#b-linkset-editor {
	padding-bottom: 0;
	overflow: visible;

    &.b-linkset-single {
        section:first-of-type {
            display: none;
        }

        #b-linkset-current {
            width: 100%;
            padding-left: 0;
            border-left: 0;
            position: static;

            .back {
                display: none;
            }

            &.visible {
                left: auto;
                transition: none;
            }

            > div {
                padding: 0;
            }

            h1 {
                display: none;
            }
        }

        #b-linkset-current form {
			label {
				p {
					width: 10rem;
				}

				input {
					width: calc(~"100% - 10rem");
				}
			}

			.b-linkset-target input {
                width: calc(~"100% - 13rem");
			}

			.b-linkset-asset {
                img {
                    width: calc(~"100% - 10rem");
                }

				.none {
					width: calc(~"100% - 13rem");
				}
			}
        }
    }

	#b-linkset-title {
		overflow: hidden;
		margin: 1.5rem auto;
		width: 50%;

		span {
			position: absolute;
			top: -100%;
		}

		input {
			width: 100%;
			text-align: center;
		}
	}

	.container {
		width: 100%;
		margin-bottom: 1.5rem;
        position: relative;

        section{
            width: 100%;
        }
	}

    section h1 {
        margin-top: 0;
    }

	#b-linkset-links {
		ul {
			padding-left: 0;
			margin-top: 0;
			max-height: calc(~"100vh - 300px");
			overflow-y: auto;

			&:empty {
				display: none;
			}
		}

		li {
			position: relative;
			list-style-type: none;

			+ li a {
				margin-top: 1px;
			}

			&:nth-of-type(odd) a {
				background: @lightest-grey;
			}

			a {
				background: @white;
				display: block;
				text-decoration: none;
				padding: 1rem;
				border-bottom: 1px solid @lightest-grey;

				&:hover, &:focus {
					color: @red;
				}
			}

			a.delete {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding: 7px;
				margin-top: 0;
				line-height: 26px;

				&:hover, &:focus {
					color: @red;
				}
			}
		}
	}

	#b-linkset-current {
        position: absolute;
        left: calc(~"100% + 1.5rem");
        top: -1.5rem;
        bottom: -1.5rem;
        left: calc(~"100% + 1.5rem");
        width: calc(~"100% + 3rem");
        transition: left 0.5s;
        background: @white;
        z-index: 2;
        padding-left: 5rem;

        &.visible {
            left: -1.5rem;
            transition: left 0.5s;
        }

        > div {
            padding: 1.5rem;
        }

        .back {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 5rem;
            overflow: hidden;
            background: @lightest-grey;

            span {
                position: absolute;
                top: -1000%;
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                color: @red;
                font-size: 3rem;
            }
        }

		form {
            div {
                margin: 3rem 0 0 0;

                > h2, > p {
                    display: none;
                }

                &.optional {
                    > h2 {
                        .text-normal;
                        display: block;
                        margin: 0 0 0.5rem 0;
                    }

                    > p {
                        display: block;
                    }
                }
            }

            button {
                .fa-edit {
                    font-size: 2rem;
                }
            }

			label {
				overflow: hidden;
				padding-right: 0;

				p {
					width: 6rem;
					float: left;
					margin: 5px 0 0 0;
				}

				input {
					width: calc(~"100% - 6rem");
					float: right;
                    margin-left: 0;
				}
			}

			.b-linkset-target {
				input {
					width: calc(~"100% - 9rem");
					float: left;
                    border: 0;
                    text-overflow: ellipsis;
				}

				button {
					float: right;
					margin: 0;
				}
			}

			.b-linkset-asset {
                position: relative;

                button {
                    position: absolute;
                    top: 0;
                    right: 0rem;
                }

                img {
                    width: calc(~"100% - 6rem");
                }

				.none {
					width: calc(~"100% - 9rem");
					float: left;
				}
			}
		}
	}

	&-buttons {
		position: absolute;
		bottom: 1rem;

		button:first-of-type {
			margin-left: 0;
		}
	}
}