#b-linkpicker {
	p {
		margin-top: 0;
	}

	#b-linkpicker-add-external {
		form {
			overflow: hidden;

			select {
				width: 160px;
				margin-right: 10px;
			}

			input {
				width: 330px;
				float: right;
			}
			
			.ui-autocomplete {
				position: static;
			}
		}
	}
	
	#b-linkpicker-add-asset {
		select {
			float: none;
			margin-left: 0;
		}
	}
	
	#b-linkpicker-text input {
		width: 100%;
	}
}
	
#b-linkpicker-container {
	display: none;
}