#b-loader {
	position: fixed;
	left: 49%;
	top: 1.1em;
	background: transparent url(/vendor/boomcms/boom-core/img/ajax_load.gif) no-repeat 0 0;
	width: 43px;
	height: 11px;
	display: none;
	z-index: 999999;
}