#b-location-editor {
	section {
		display: inline-block;
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 1em;
	}

	a {
		color: @darkest-grey;
	}

	textarea {
		height: 5em;
	}

	button {
		margin-top: 2em;
	}

	#b-location-map {
		width: 100%;
		height: 300px;
	}

	#b-location-remove {
		display: none;
	}
}