#b-location-editor {
	padding: 0.75rem;

	> * {
		display: inline-block;
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 0.7rem;
	}

	a {
		color: @darkest-grey;
	}

	textarea {
		height: 5em;
	}

	button {
		margin-top: 1em;
	}

	#b-location-details {
		margin-bottom: 2rem;
	}

	#b-location-set, #b-location-latlng {
		margin-bottom: 2rem;
		border: 1px solid @light-grey;
	}

	#b-location-map {
		width: 100%;
		height: 300px;
	}

	#b-location-remove {
		display: none;
	}
}