/* Login form */
body#b-login {
	background: @lightest-grey;
	height: 100vh;

	.b-error {
		text-align: center;
		color: @red;
		font-weight: bold;
	}

	a {
		color: @darkest-grey;
		text-decoration: none;
		text-align: center;

		&:visited {
			color: @darkest-grey;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	#b-login-recover-link {
		margin-top: 1em;
		display: block;
	}

	p, input {
		.text-normal;
		color: @darkest-grey;
	}

	> div:first-of-type {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 2rem;

		#logo {
			background: url(/vendor/boomcms/boom-core/img/logo.png) no-repeat top center;
			width: 100%;
			height: 20vw;
			max-height: 142px;
			background-size: contain;
			max-width: 692px;
			margin: 0 auto 3rem auto;
		}

		legend, p {
			text-align: center;
			margin-bottom: 2rem;
		}

		form, > p {
			width: 100%;
			max-width: 692px;
			margin: auto;

			label, input {
				width: 100%;
			}

			p {
				overflow: hidden;
				position: relative;

				.b-remember-me-label {
					position: static;
					width: 100%;
					margin-top: 1.5rem;

					input {
						width: auto;
						margin: 0 1.5rem 0 0;
					}
				}
			}
		}

        .input {
            border: 1px solid @pink;
            border-radius: 2px;

            .fa {
            	background: @pink;
            	color: @white;
            }
        }

        input[type=email], input[type=password] {
            background: transparent;
            border: 0;
            padding: 1rem 1.5rem 0 5rem;
            height: 6rem;

            + label {
                font-weight: bold;
                padding-left: 5rem;
            }
        }

		input[type=submit] {
			padding: 1.5rem;
			display: block;
			height: auto;
			width: auto;
			min-width: 10em;
			margin: 4rem auto;
			transition: background,color 0.5s;
			background: @pink;

			&:hover, &:focus {
				background: @white;
				color: @pink;
				transition: background,color 0.5s;
				cursor: pointer;
			}
		}

		fieldset {
			border: 0;
		}
	}
}