/* Login form */
body#b-login {
	background: @lightest-grey;
	height: 100vh;

	.b-error {
		text-align: center;
		color: @red;
		font-weight: bold;
	}

	a {
		color: @darkest-grey;
		text-decoration: none;
		text-align: center;

		&:visited {
			color: @darkest-grey;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	#b-login-recover-link {
		margin-top: 1em;
		display: block;
	}

	p, input {
		.text-normal;
		color: @darkest-grey;
	}

	> div:first-of-type {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		#logo {
			background: url(/vendor/boomcms/boom-core/img/logo.png) no-repeat top center;
			width: 100%;
			height: 20vw;
			max-height: 142px;
			background-size: contain;
			max-width: 692px;
			margin: 0 auto 3rem auto;
		}

		legend, p {
			text-align: center;
			margin-bottom: 2rem;
		}

		form, > p {
			width: 100%;
			max-width: 600px;
			margin: auto;

			label, input {
				width: 100%;
			}

			p {
				overflow: hidden;
				position: relative;

				.b-remember-me-label {
					position: static;
					width: 100%;
					margin-top: 1.5rem;

					input {
						width: auto;
						margin: 0 1.5rem 0 0;
					}
				}
			}
		}

		.input {
			position: relative;
			display: block;
			padding-top: 2rem;

			+ .input {
				margin-top: 2.5rem;
			}

			.fa {
				position: absolute;
				top: 50%;
				left: 0rem;
				transform: translateY(-50%);
				margin-top: 1rem;
				transition: all 0.5s;
			}

			input[type=email],
			input[type=password] {
				background: transparent;
				border: 0;
				border-bottom: 2px solid @red;
				padding: 1rem 1.5rem 1rem 2rem;
				height: auto;

				&:-webkit-autofill {
					-webkit-box-shadow: 0 0 0px 1000px @lightest-grey inset;
				}

				&:focus {
					background: transparent;
					outline: 0;

					+ label + .fa {
						color: @red;
						transition: all 0.5s;
					}
				}

				+ label {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					margin: 0;
					font-weight: bold;
				}
			}
		}

		input[type=submit] {
			padding: 1.5rem;
			display: block;
			height: auto;
			width: auto;
			min-width: 10em;
			margin: 4rem auto;
			transition: background,color 0.5s;

			&:hover, &:focus {
				background: @red;
				color: @white;
				transition: background,color 0.5s;
				cursor: pointer;
			}
		}

		fieldset {
			border: 0;
		}
	}
}