#b-menu {
	position: fixed;
	z-index: 4;
	background: @darkest-grey;
	left: -200px;
	width: 300px;
	height: 100%;
	top: 0;
	transition: transform .2s cubic-bezier(.16, .68, .43, .99);

	ul {
		padding-left: 1em;
	}

	li {
		list-style-type: none;
	}

	img {
		max-width: 80%;
		height: auto;
		margin: 11px auto 2em auto;
		display: block;
	}

	a {
		.text-default;
		color: @white;
		padding: 0.5em;
		display: block;
		text-decoration: none;

		&:before {
			margin-right: 1em;
		}

		&:hover, &:focus, &:active {
			&:before {
				color: @red;
			}
		}
	}

	&.pushy-left {
		transform: translate3d(-200px, 0, 0);
	}

	&.pushy-open {
		padding-left: 60px;
		left: 0;
		transform: translate3d(0, 0, 0);
	}
}

#b-menu-button {
	position: fixed;
	top: 0;
	left: 5px;
	z-index: 5;
}

body.pushy-active {
	#b-menu-button {
		background: @light-grey;
	}
}
