#b-menu {
    position: fixed;
    z-index: 10;
    background: @darkest-grey;
    left: 0;
    top: 0;
    width: 325px;
    height: 100%;
    padding-left: 60px;
    transition: transform 0.25s ease-in;
    transform: translateX(-100%);

    ul {
        padding-left: 1rem;
    }

    li {
        list-style-type: none;

        &.break {
            margin-top: 2rem;
        }
    }

    img {
        max-width: 80%;
        height: auto;
        margin: 11px auto 2em auto;
        display: block;
        margin-top: 0;
    }

    a {
        color: @white;
        padding: 0.5em;
        display: block;
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 1.4em;

        span {
            margin-right: 1em;
        }

        &:hover, &:focus, &:active {
            span {
                color: @red;
            }
        }
    }

    .version {
        .text-small;
        text-align: center;
        color: @white;

        a {
            .text-small;
            display: inline;
            padding: 0;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}

body.menu-open {
    #b-menu {
        transition: transform 0.25s ease-out;
        transform: translateX(0);
    }
}

#b-menu-button {
    position: fixed;
    top: 0;
    left: 5px;
    z-index: 101;
    margin-top: 5px;
	background: @darkest-grey;
}