#b-pages {
	padding: 1.5rem;

	.b-settings-container {
		position: fixed;
		top: 60px;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 0;
		overflow: hidden;

		&.open {
			max-width: 100%;
			transition: all 1s;
		}
	}

	ul.boom-tree {
		max-height: none;
		width: 100%;
		height: 100%;

		li {
			border-bottom: 1px solid #eee;
			background: @white;

			&:nth-of-type(odd) {
				background: #eee;
			}

			> div, > a {
				display: inline-block;
				float: left;
				border: 0;
			}

			> a {
				width: 50%;
			}

			> div {
				width: 320px;
				height: 25px;

				a {
					color: @darkest-grey;
					display: inline-block;
					width: auto;
					height: 40px;
					line-height: 40px;
					padding: 0 10px;

					span {
						text-indent: -1000%;
						overflow: hidden;
						width: 0;
					}

					&:hover, &:focus {
						color: @red;
					}
				}
			}
		}
	}
}