#b-pages {
	background: @lightest-grey;

	> ul {
		width: 100%;
		height: 100%;
	}

	ul {
		max-height: none;

		li {
			border-bottom: 1px solid #eee;

			> div, > a {
				display: inline-block;
				float: left;
				border: 0;
			}

			> a {
				width: 50%;
			}

			> div {
				width: 320px;
				height: 25px;

				a {
					color: @darkest-grey;
					display: inline-block;
					width: auto;
					border-left: 1px solid @darkest-grey;
					height: 40px;
					line-height: 40px;
					padding: 0 20px;

					&:last-of-type {
						border-right: 1px solid @darkest-grey;
					}

					&:hover, &:focus {
						background: @darkest-grey;
						color: @lightest-grey;
					}
				}
			}
		}
	}
}