#b-pages {
	.boom-tree-container {
		background: @lightest-grey;
	}

	> ul {
		width: 100%;
		height: 100%;
	}

	ul {
		max-height: none;

		li {
			background: @lightest-grey;
			border-bottom: 1px solid #eee;

			> div, > a {
				display: inline-block;
				border: 0;
			}

			> a {
				width: 70%;
			}

			> div {
				float: right;
				width: 19%;

				a {
					display: inline-block;
					width: auto;
					border: 0;
				}
			}

			a:hover {
				background: #222;
			}
		}
	}
}