#b-page {
	&-addpage {
		background: @dark-green;

		&:hover {
			background: lighten(@dark-green, 20%);
		}
	}

	&-settings-urls{
		input[type=radio], input[type=checkbox] {
			position: absolute;
			left: -9999px;
		}
		label {
			display: inline;
			clear: none;
			float: none;
			padding: 5px;
		}
		input:checked + label {
			background-color: #333;
			color: #ccc;
		}
	}

	&-editbutton {
		border-bottom: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}

	&-topbar {
		width: 100%;
		background-color: transparent;
	}

	&-invisible {
		margin-top: 0px;
	}

	&-invisible, &-visible {
		&.ui-helper-hidden {
			display: none;
		}
	}

	&-settings {
		&-tags {
			&-add {
				&-name {
					display: none;
				}
			}
		}

		&-children-reorder {
			float: right;
			clear: both;
		}

		&-children-sort {
			list-style-image:url('/vendor/boomcms/boom-core/img/sort.png');

			& li {
				padding: 3px;

				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
		}
	}

	&-toggle-visible {
		display: none;
	}

	&-version-status {
		background-color: #d6278e;
		text-transform: capitalize;
		width: 50px;

		span {
			padding: .4em;
		}

		&[data-status=published] {
			background-color: #75d627;
		}

		&[data-status=embargoed] {
			background-color: #e3ca68;
		}

		&[data-status='pending approval'] {
			background-color: #249ac1;
		}
	}

	&-version-template {
		label {
			margin-top: 1em;
			font-weight: bold;
		}

		select {
			margin-top: 1em;
			width: 100%;
		}

		#count, #description {
			margin-top: 1em;

			p {
				display: inline;
				margin-left: 0.5em;
			}
		}
	}
}

.b-page {
	&-container {
		margin-top: 20px;
	}

	&-settings {
		label {
			margin-bottom: 0.5em;
		}
	}

	&-toolbar {
		width: 50px;
		height: 100%;
		padding: 4px;

		.ui-button, button {
			display: block;

			&.ui-helper-hidden {
				display: none;
			}
		}
	}
}

#b-form-addurl {
	margin-top: 2em;
	width: 100%;
	padding-bottom: 3em;

	label	{
		width: 100%;

		input[type=text] {
			width: 80%;
		}
	}
}

#b-topbar-pagesettings {
	display: none;
	border-top: 1px solid #ccc;
	padding: .5em;
	overflow: hidden;
}