#b-settings-manager {
	width: 100%;

	input, textarea {
		width: 100%;
	}

	textarea {
		height: 10rem;
	}

	table {
		width: 100%;

		td {
			padding: 1.5rem 1.5rem;
			width: 33.33%;
		}
	}

	.message {
		margin-top: 60px;
		background: @red;
		color: @white;
		padding: 1.5rem;
		text-align: center;
		display: block;
	}
}