.b-table {
	border: 0;
	width: 100%;

	thead {
		background: @red;

		tr th {
			padding: 1.5rem 1rem;
			text-transform: uppercase;
			text-align: left;
			font-weight: normal;
		}
	}

	tr, td, th {
		border: 0;
	}

	tr.ui-state-hover {
		font-weight: normal;
	}

	th {
		color: white;
	}

	tbody tr {
		&:nth-of-type(even) {
			background: @white;
		}

		&:nth-of-type(odd) {
			background: @lightest-grey;
		}
	}

	tbody tr, tfoot tr {
		td {
			padding: 1.5rem 1rem;
		}
	}

	a {
		color: #0000ff;
	}

	button.b-button {
		color: @darkest-grey;
		border-right: 0;

		&:hover, &:focus {
			background: transparent;
			color: @red; 
		}
	}
}