.b-table {
	color: black;
	border: 0;

	thead {
		background: @darkest-grey;
	}

	tr, td, th {
		border: 0;
	}

	tr.ui-state-hover {
		font-weight: normal;
	}

	th {
		color: white;
	}

	tbody tr {
		&:nth-of-type(odd) {
			background: @white;
		}

		&:nth-of-type(even) {
			background: @lightest-grey;
		}
	}

	a {
		color: #0000ff;
	}
}