.b-table {
	border: 0;
	width: 100%;

	thead {
		background: @red;

		tr th {
			padding: 1.5rem 1rem;
			text-transform: uppercase;
			text-align: left;
			font-weight: normal;
		}
	}

	tr, td, th {
		border: 0;
	}

	tr.ui-state-hover {
		font-weight: normal;
	}

	th {
		color: white;
	}

	tbody tr {
		&:nth-of-type(even) {
			background: @white;
		}

		&:nth-of-type(odd) {
			background: @lightest-grey;
		}
	}

	tbody tr, tfoot tr {
		td {
			padding: 1.5rem 1rem;

			&.lang {
				padding-left: 0;
			
				.title {
					font-weight: bold;
				}
			
				.title, .uri {
					display: block;
					margin-left: 3rem;
				}
			
				a {
					color: @darkest-grey;
					text-decoration: none;
					float: left;
					line-height: 21px;
			
					span {
						position: absolute;
						top: -1000%;
					}
			
					&:hover, &:focus {
						color: @red;
					}
				}
			}

			.language-option {
				float: left; width: 75px;
				input[type=checkbox] {
					float: left; 
					width: 20px !important;
					line-height: 30px;
				}
			}

			
		}
	}

	a {
		color: #0000ff;
	}

	button.b-button {
		color: @darkest-grey;
		border-right: 0;

		&:hover, &:focus {
			background: transparent;
			color: @red; 
		}
	}

}



#album-asset-list_length {
	label {
		select {
			width: 100%;
			margin-bottom: 3px;
		}
	}
}