.boom-tabs {
	padding: 0;
	background: transparent;
	border: 0;

	> ul.ui-tabs-nav {
		margin: 0;
		padding: 0;
		background: transparent;

		> li {
			display: inline-block;
			list-style: none;
			float: left;
			background: @lightest-grey;
			border: 1px solid @grey;
			border-bottom: 0;
			
			&:hover, &:focus {
				background: @light-grey;
			}
			
			&.ui-state-default {
				a {
					color: @darkest-grey;
				}
			}
			
			&.ui-state-active {
				background: @light-grey;
			}

			a {
				font-weight: bold;
			}
		}
	}
	
	button.b-button {
		color: @darkest-grey;
		
		&:hover, &:focus {
			color: @red;
		}
	}

	.ui-tabs-panel {
		border: 1px solid @grey;
		padding: 1em;
		background: @lightest-grey;
	}
}