#b-templates {
	thead {
		th {
			cursor: pointer;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	/* Table row for a template where the file doesn't exist in the templates directory */
	.b-templates-nofile {
		border-left: 2px solid @red;
	}

	input {
		border: 1px dotted transparent;
		width: 100%;
		background-color: transparent;

		&:hover {
			border-color: #000;
		}
	}
}
	