#b-templates {
	padding: 1.5rem;

	#b-templates-table {
		thead {
			th {
				&:hover, &:focus {
					background: @red;
				}
			}
		}

		/* Table row for a template where the file doesn't exist in the templates directory */
		tbody tr.b-templates-nofile {
			background-color: @red;
		}

		input {
			border: 1px dotted transparent;
			width: 100%;
			background-color: transparent;

			&:hover {
				border-color: #000;
			}
		}

		.b-button {
			color: @darkest-grey;
			border-right: 0;

			&:hover, &:focus {
				background: transparent;
				color: @red; 
			}
		}
	}
}