#b-templates-table {
	border: 0px;
	background-color: #ffffff;
	width: 100%;

	tr:hover {
		background-color: #E6EEEE;
	}

	/* Table row for a template where the file doesn't exist in the templates directory */
	tbody tr.b-templates-nofile {
		background-color: @red;
	}

	td {
		border: 0px;
		border-width: 0px;
	}

	input {
		border: 1px dotted transparent;
		width: 100%;
		background-color: transparent;

		&:hover {
			border-color: #000;
		}
	}

	.b-button {
		color: @grey;
		border-right: 0;
		
		&:hover, &:focus {
			background: transparent;
			color: @darkest-grey; 
		}
	}
}