#b-title-length {
	position: absolute;
	z-index: 1001;
	background: #ffffff;
	width: 100px;
	text-align: center;
	overflow: hidden;
	padding: 5px 0;

	span {
		line-height: 40px;
		font-size: 40px;
	}

	p {
		.text-default;
		margin-top: 5px;

		a {
			color: #000;
		}
	}
}