html.boom .b-toolbar, .b-toolbar {
	background: @darkest-grey;
	overflow: hidden;
	color: @white;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	padding-left: 80px;
	z-index: 1000;

	+ * {
		margin-top: 70px;
	}

	&.b-toolbar-vertical {
		width: 60px;
		height: 100%;
		z-index: 10000;
		padding-left: 0;
		margin-bottom: 0;

		.b-button {
			border-right: 0;
		}

		+ * {
			margin-top: auto;
		}
	}

	&.b-toolbar-text {
		overflow: visible;
	}

	&.b-page-toolbar {
		#b-topbar-page-buttons {
			position: absolute;
			width: 60px;
			left: 0;
			bottom: 0;
			padding: 0 5px;
			background: @darkest-grey;
			z-index: 6;
			box-sizing: border-box;
			top: 60px;
		}
	}

	a, a:visited, a:hover {
		color: #ffffff;
	}
	
	.b-button {
		margin-top: 5px;
	}
}

html.boom .b-toolbar.b-page-toolbar-preview {
	height: 34px;
	width: 100%;
	padding: 0;
}

html.boom body.pushy-active, body.pushy-active {
	.b-page-toolbar {
		width: 250px;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	.b-toolbar {
		position: static;

		+ *:not(#b-page-settings-toolbar) {
			margin-top: 10px;
		}
	}
}

#wysihtml5-toolbar {
	display: none;
	width: 100%;

	> div {
		position: absolute;
		top: 0;
		left: 5px;
		display: none;
		width: 100%;
	}

	.b-button-group {
		position: static;
		display: block;
		width: 60px;

		+ .b-button-group {
			margin-top: 10px;
			border-top: 1px solid @grey;
			padding-top: 10px;
		}
	}

	.b-button:not(.b-editor-accept):not(.b-editor-cancel) {
		height: 30px;
		width: 30px;
		margin-left: 10px;

		.b-button-icon {
			font-size: 1em;
			height: 20px;
			width: 20px;
			top: 5px;
			left: 5px;
		}
	}

	[data-wysihtml5-hiddentools="table"] {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;

		&.visible {
			display: block;
		}

		a {
			display: block;
			text-decoration: none;
		}
	}
}

@media print {
	.b-toolbar {
		display: none;
	}
}