/* Tree plugin */

.boom-tree {
	margin: 0;
	width: 100%;
	max-height: 400px;
	overflow: auto;
	border: 1px solid #D3D3D3;
	border-width: 0 0px 0px 0;
	font-weight: normal;
	padding-left: 0;

	&-container {
		padding: 0;
		width: 320px;
	}

	ul {
		margin: 0 0 0 2em;
		padding: 0;
	}

	li, li.ui-state-default {
		list-style: none;
		background-position: 50% 50% !important;
		border: none;
		overflow: hidden;
		min-height: 30px;
		background-color: #444;
		font-weight: normal;

		ul {
			clear:left;
		}

		&.ui-state-default a {
			color: #fff;
			text-transform: none;
		}

		span {
			width: 40px;
			height: 40px;
			float: left;
			display: inline-block;
			position: relative;
			margin: 0;
			cursor: pointer !important;

			&:before {
				.text-large;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				line-height: 40px;
				content: '+';
				text-align: center;
				color: @lightest-grey;
			}

			&.expanded:before {
				content: '‒';
			}

			&:hover, &:focus {
				&:before {
					color: @red;
				}
			}

			+ a {
				padding-left: 0;
			}
		}

		a {
			display: block;
			padding: .2em;
			outline: none;
			line-height: 40px;
			border: 0px;
			border-bottom: 1px solid #eee;
			text-decoration: none;
			height: 40px;
			padding: 0;
			padding-left: 40px;

			&:last-of-type {
				border-bottom: 0;
			}

			&:hover, &:focus {
				color: @red;
			}

			&.active {
				background: @grey;
			}

			&.ui-state-active {
				font-weight: normal;
			}
		}

		.ui-icon-placeholder {
			background: transparent !important;
			cursor: auto !important;
		}

		.boom-tree-hitarea-hover {
			background-color: #ddd;
		}
	}

	.ui-state-default {
		border-width: 1px 0 0 1px;
		font-weight: normal;
	}

	.ui-state-hover {
		font-weight: normal;
	}
}