span[contenteditable] {
	display: inline-block;
	min-width: 100px;
}

[data-wysihtml5-dialog-action] {
	padding: 4px;
	color: #fff;
	cursor: pointer;
}

.b-editable.wysihtml5-editor .wysiwyg-tmp-selected-cell {
	background: rgba(191, 30, 46, 0.5) !important;
}